- var page = "index1";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header
        main.wrapper
            section.aboutUs
                .homeBanner(style='background-image: url(images/banner/about.jpg)')
                    .homeBanner__backdrop
                    .homeBanner__cont.colorWhite.textCenter
                        h2.mb5 About us
                        p.mb0 Lorem Ipsum is simply dummy text of the printing and typesetting industry
                .container
                    ul.tabInfo
                        li.active
                            a(href='aboutUs.html')
                                span About us
                        li
                            a(href='contactUs.html')
                                span Contact us
                        li
                            a(href='faq.html')
                                span FAQ
                        li
                            a(href='privacyPolicy.html')
                                span Privacy policy
                        li
                            a(href='termOfUse.html')
                                span Term of us

                .aboutUs__cont
                    .container
                        p Bring more travelers from all over the world to get closer to the ASEAN is our biggest dream and especially Cambodia country with different cultures waiting for your discovery, we have now created a website named as cambodiaangkora to support our beloved clients Camdobia Airlines' tickets from international to domestic flights, hotels, tours, transports and airport pick-up. This website is another son of AN group, a travel company was founded since 2019.
                        p We commit to provide our beloved clients all tourism services at the best fares, flexible time and unlimited supports. Our website is highly secured and protected 24/7 to ensure your safety is our first mission and your smile is our happinesss.
                        p Please contact us by email at booking@flythaiairways.com for any concern in regards to airlines tickets within Philippines and from/to Philippines, Hotels, Car Rental...
                        p Thank you for always being there with us.
        include jades/footer
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/slick.min.js')
        script(src='/js/t-datepicker.min.js')

        script.
            $('.t-datepicker').tDatePicker({
                autoClose: true,
                titleCheckIn: 'Depart',
                titleCheckOut: 'Return',
                titleDateRange: 'day',
                titleDateRanges: 'days',
                iconDate: '<i class="fas fa-calendar-alt"></i>',
                iconArrowTop: false
            });
        script.
            // header
            $(".header__toggle").click(function () {
                $('.navbarBox').addClass('open');
            });
            $(".navbarBox__close, .navbarBox__backdrop").click(function () {
                $('.navbarBox').removeClass('open');
            });
            if (screen.width < 768) {
                $('.navbarBox__list ul').slideUp(300);
                $(".navbarBox__title").click(function () {
                    $(this).toggleClass('active');
                    $(this).next('.navbarBox__list ul').slideToggle(300);
                });
            };





