- var page = "index1";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header
        main.wrapper
            section.contactUs
                .homeBanner(style='background-image: url(images/banner/contact.jpg)')
                    .homeBanner__backdrop
                    .homeBanner__cont.colorWhite.textCenter
                        h2.mb5 Contact us
                        p.mb0 Lorem Ipsum is simply dummy text of the printing and typesetting industry
                .container
                    ul.tabInfo
                        li
                            a(href='aboutUs.html')
                                span About us
                        li.active
                            a(href='contactUs.html')
                                span Contact us
                        li
                            a(href='faq.html')
                                span FAQ
                        li
                            a(href='privacyPolicy.html')
                                span Privacy policy
                        li
                            a(href='termOfUse.html')
                                span Term of us

                .contactUs__cont
                    .contactUs__title
                        h3.semibold.colorBlack85 Ask a question
                    .contactUs__form
                        .form-group
                            label(for='name') Your Name&nbsp;
                                span *
                            input#name.form-control(type='text' placeholder='Your Name')
                        .form-group
                            label(for='email') Your Email Address&nbsp;
                                span *
                            input#email.form-control(type='text' placeholder='Your Email Address')
                        .form-group
                            label(for='phone') Phone number&nbsp;
                                span *
                            input#phone.form-control(type='text' placeholder='Phone number')
                        .form-group
                            label(for='subject') Subject&nbsp;
                                span *
                            select#subject.form-control
                                option Ask a question?
                                option Chăm sóc khách hàng
                                option Hotel Operation
                                option Marketing
                                option Nhân sự
                        .form-group
                            label(for='message') Message&nbsp;
                                span *
                            textarea#message.form-control(rows='5')
                    .contactUs__btn
                        button.btn.btn-orange(type='button')
                            span Send message

        include jades/footer
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/slick.min.js')
        script(src='/js/t-datepicker.min.js')

        script.
            $('.t-datepicker').tDatePicker({
                autoClose: true,
                titleCheckIn: 'Depart',
                titleCheckOut: 'Return',
                titleDateRange: 'day',
                titleDateRanges: 'days',
                iconDate: '<i class="fas fa-calendar-alt"></i>',
                iconArrowTop: false
            });
        script.
            // header
            $(".header__toggle").click(function () {
                $('.navbarBox').addClass('open');
            });
            $(".navbarBox__close, .navbarBox__backdrop").click(function () {
                $('.navbarBox').removeClass('open');
            });
            if (screen.width < 768) {
                $('.navbarBox__list ul').slideUp(300);
                $(".navbarBox__title").click(function () {
                    $(this).toggleClass('active');
                    $(this).next('.navbarBox__list ul').slideToggle(300);
                });
            };




