- var page = "index1";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header
        main.wrapper
            section.faq
                .homeBanner(style='background-image: url(images/banner/faq.jpg)')
                    .homeBanner__backdrop
                    .homeBanner__cont.colorWhite.textCenter
                        h2.mb5 FAQ
                        p.mb0 Lorem Ipsum is simply dummy text of the printing and typesetting industry
                .container
                    ul.tabInfo
                        li
                            a(href='aboutUs.html')
                                span About us
                        li
                            a(href='contactUs.html')
                                span Contact us
                        li.active
                            a(href='faq.html')
                                span FAQ
                        li
                            a(href='policy.html')
                                span Privacy policy
                        li
                            a(href='termsOfUse.html')
                                span Term of us

                .faq__body
                    .container
                        .row
                            .col-md-6
                                .faq__item
                                    .faq__title
                                        .titleText
                                            span.medium.colorBlack85 The most popular month to visit Bangkok from Hanoi?
                                        .titleIcon
                                            svg.svg1point5(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                circle(cx='10' cy='10' r='9.5' transform='rotate(-90 10 10)' stroke='black' stroke-opacity='0.25')
                                                path(d='M10.0087 12.8019C9.9065 12.8021 9.80543 12.7804 9.71226 12.7384C9.61909 12.6963 9.53595 12.6349 9.4684 12.5582L6.40246 9.0732C6.30556 8.95772 6.25768 8.8089 6.26907 8.65858C6.28046 8.50826 6.35022 8.36835 6.46341 8.26879C6.57661 8.16923 6.72427 8.1179 6.87482 8.12579C7.02537 8.13368 7.16685 8.20016 7.26902 8.31101L9.94996 11.3585C9.95729 11.3669 9.96633 11.3736 9.97646 11.3782C9.98659 11.3828 9.99759 11.3851 10.0087 11.3851C10.0198 11.3851 10.0308 11.3828 10.041 11.3782C10.0511 11.3736 10.0601 11.3669 10.0675 11.3585L12.7484 8.31101C12.8506 8.20016 12.9921 8.13368 13.1426 8.12579C13.2932 8.1179 13.4408 8.16923 13.554 8.26879C13.6672 8.36835 13.737 8.50825 13.7483 8.65858C13.7597 8.8089 13.7119 8.95771 13.615 9.0732L10.55 12.5569C10.4823 12.6339 10.399 12.6955 10.3057 12.7377C10.2124 12.78 10.1111 12.8019 10.0087 12.8019Z' fill='black' fill-opacity='0.25')

                                    .faq__cont
                                        p.colorBlack45 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                                .faq__item
                                    .faq__title
                                        .titleText
                                            span.medium.colorBlack85 The most popular month to visit Bangkok from Hanoi?
                                        .titleIcon
                                            svg.svg1point5(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                circle(cx='10' cy='10' r='9.5' transform='rotate(-90 10 10)' stroke='black' stroke-opacity='0.25')
                                                path(d='M10.0087 12.8019C9.9065 12.8021 9.80543 12.7804 9.71226 12.7384C9.61909 12.6963 9.53595 12.6349 9.4684 12.5582L6.40246 9.0732C6.30556 8.95772 6.25768 8.8089 6.26907 8.65858C6.28046 8.50826 6.35022 8.36835 6.46341 8.26879C6.57661 8.16923 6.72427 8.1179 6.87482 8.12579C7.02537 8.13368 7.16685 8.20016 7.26902 8.31101L9.94996 11.3585C9.95729 11.3669 9.96633 11.3736 9.97646 11.3782C9.98659 11.3828 9.99759 11.3851 10.0087 11.3851C10.0198 11.3851 10.0308 11.3828 10.041 11.3782C10.0511 11.3736 10.0601 11.3669 10.0675 11.3585L12.7484 8.31101C12.8506 8.20016 12.9921 8.13368 13.1426 8.12579C13.2932 8.1179 13.4408 8.16923 13.554 8.26879C13.6672 8.36835 13.737 8.50825 13.7483 8.65858C13.7597 8.8089 13.7119 8.95771 13.615 9.0732L10.55 12.5569C10.4823 12.6339 10.399 12.6955 10.3057 12.7377C10.2124 12.78 10.1111 12.8019 10.0087 12.8019Z' fill='black' fill-opacity='0.25')

                                    .faq__cont
                                        p.colorBlack45 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                                .faq__item
                                    .faq__title
                                        .titleText
                                            span.medium.colorBlack85 The most popular month to visit Bangkok from Hanoi?
                                        .titleIcon
                                            svg.svg1point5(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                circle(cx='10' cy='10' r='9.5' transform='rotate(-90 10 10)' stroke='black' stroke-opacity='0.25')
                                                path(d='M10.0087 12.8019C9.9065 12.8021 9.80543 12.7804 9.71226 12.7384C9.61909 12.6963 9.53595 12.6349 9.4684 12.5582L6.40246 9.0732C6.30556 8.95772 6.25768 8.8089 6.26907 8.65858C6.28046 8.50826 6.35022 8.36835 6.46341 8.26879C6.57661 8.16923 6.72427 8.1179 6.87482 8.12579C7.02537 8.13368 7.16685 8.20016 7.26902 8.31101L9.94996 11.3585C9.95729 11.3669 9.96633 11.3736 9.97646 11.3782C9.98659 11.3828 9.99759 11.3851 10.0087 11.3851C10.0198 11.3851 10.0308 11.3828 10.041 11.3782C10.0511 11.3736 10.0601 11.3669 10.0675 11.3585L12.7484 8.31101C12.8506 8.20016 12.9921 8.13368 13.1426 8.12579C13.2932 8.1179 13.4408 8.16923 13.554 8.26879C13.6672 8.36835 13.737 8.50825 13.7483 8.65858C13.7597 8.8089 13.7119 8.95771 13.615 9.0732L10.55 12.5569C10.4823 12.6339 10.399 12.6955 10.3057 12.7377C10.2124 12.78 10.1111 12.8019 10.0087 12.8019Z' fill='black' fill-opacity='0.25')

                                    .faq__cont
                                        p.colorBlack45 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                                .faq__item
                                    .faq__title
                                        .titleText
                                            span.medium.colorBlack85 The most popular month to visit Bangkok from Hanoi?
                                        .titleIcon
                                            svg.svg1point5(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                circle(cx='10' cy='10' r='9.5' transform='rotate(-90 10 10)' stroke='black' stroke-opacity='0.25')
                                                path(d='M10.0087 12.8019C9.9065 12.8021 9.80543 12.7804 9.71226 12.7384C9.61909 12.6963 9.53595 12.6349 9.4684 12.5582L6.40246 9.0732C6.30556 8.95772 6.25768 8.8089 6.26907 8.65858C6.28046 8.50826 6.35022 8.36835 6.46341 8.26879C6.57661 8.16923 6.72427 8.1179 6.87482 8.12579C7.02537 8.13368 7.16685 8.20016 7.26902 8.31101L9.94996 11.3585C9.95729 11.3669 9.96633 11.3736 9.97646 11.3782C9.98659 11.3828 9.99759 11.3851 10.0087 11.3851C10.0198 11.3851 10.0308 11.3828 10.041 11.3782C10.0511 11.3736 10.0601 11.3669 10.0675 11.3585L12.7484 8.31101C12.8506 8.20016 12.9921 8.13368 13.1426 8.12579C13.2932 8.1179 13.4408 8.16923 13.554 8.26879C13.6672 8.36835 13.737 8.50825 13.7483 8.65858C13.7597 8.8089 13.7119 8.95771 13.615 9.0732L10.55 12.5569C10.4823 12.6339 10.399 12.6955 10.3057 12.7377C10.2124 12.78 10.1111 12.8019 10.0087 12.8019Z' fill='black' fill-opacity='0.25')

                                    .faq__cont
                                        p.colorBlack45 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                                .faq__item
                                    .faq__title
                                        .titleText
                                            span.medium.colorBlack85 The most popular month to visit Bangkok from Hanoi?
                                        .titleIcon
                                            svg.svg1point5(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                circle(cx='10' cy='10' r='9.5' transform='rotate(-90 10 10)' stroke='black' stroke-opacity='0.25')
                                                path(d='M10.0087 12.8019C9.9065 12.8021 9.80543 12.7804 9.71226 12.7384C9.61909 12.6963 9.53595 12.6349 9.4684 12.5582L6.40246 9.0732C6.30556 8.95772 6.25768 8.8089 6.26907 8.65858C6.28046 8.50826 6.35022 8.36835 6.46341 8.26879C6.57661 8.16923 6.72427 8.1179 6.87482 8.12579C7.02537 8.13368 7.16685 8.20016 7.26902 8.31101L9.94996 11.3585C9.95729 11.3669 9.96633 11.3736 9.97646 11.3782C9.98659 11.3828 9.99759 11.3851 10.0087 11.3851C10.0198 11.3851 10.0308 11.3828 10.041 11.3782C10.0511 11.3736 10.0601 11.3669 10.0675 11.3585L12.7484 8.31101C12.8506 8.20016 12.9921 8.13368 13.1426 8.12579C13.2932 8.1179 13.4408 8.16923 13.554 8.26879C13.6672 8.36835 13.737 8.50825 13.7483 8.65858C13.7597 8.8089 13.7119 8.95771 13.615 9.0732L10.55 12.5569C10.4823 12.6339 10.399 12.6955 10.3057 12.7377C10.2124 12.78 10.1111 12.8019 10.0087 12.8019Z' fill='black' fill-opacity='0.25')

                                    .faq__cont
                                        p.colorBlack45 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                                .faq__item
                                    .faq__title
                                        .titleText
                                            span.medium.colorBlack85 The most popular month to visit Bangkok from Hanoi?
                                        .titleIcon
                                            svg.svg1point5(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                circle(cx='10' cy='10' r='9.5' transform='rotate(-90 10 10)' stroke='black' stroke-opacity='0.25')
                                                path(d='M10.0087 12.8019C9.9065 12.8021 9.80543 12.7804 9.71226 12.7384C9.61909 12.6963 9.53595 12.6349 9.4684 12.5582L6.40246 9.0732C6.30556 8.95772 6.25768 8.8089 6.26907 8.65858C6.28046 8.50826 6.35022 8.36835 6.46341 8.26879C6.57661 8.16923 6.72427 8.1179 6.87482 8.12579C7.02537 8.13368 7.16685 8.20016 7.26902 8.31101L9.94996 11.3585C9.95729 11.3669 9.96633 11.3736 9.97646 11.3782C9.98659 11.3828 9.99759 11.3851 10.0087 11.3851C10.0198 11.3851 10.0308 11.3828 10.041 11.3782C10.0511 11.3736 10.0601 11.3669 10.0675 11.3585L12.7484 8.31101C12.8506 8.20016 12.9921 8.13368 13.1426 8.12579C13.2932 8.1179 13.4408 8.16923 13.554 8.26879C13.6672 8.36835 13.737 8.50825 13.7483 8.65858C13.7597 8.8089 13.7119 8.95771 13.615 9.0732L10.55 12.5569C10.4823 12.6339 10.399 12.6955 10.3057 12.7377C10.2124 12.78 10.1111 12.8019 10.0087 12.8019Z' fill='black' fill-opacity='0.25')

                                    .faq__cont
                                        p.colorBlack45 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                            .col-md-6
                                .faq__item
                                    .faq__title
                                        .titleText
                                            span.medium.colorBlack85 The most popular month to visit Bangkok from Hanoi?
                                        .titleIcon
                                            svg.svg1point5(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                circle(cx='10' cy='10' r='9.5' transform='rotate(-90 10 10)' stroke='black' stroke-opacity='0.25')
                                                path(d='M10.0087 12.8019C9.9065 12.8021 9.80543 12.7804 9.71226 12.7384C9.61909 12.6963 9.53595 12.6349 9.4684 12.5582L6.40246 9.0732C6.30556 8.95772 6.25768 8.8089 6.26907 8.65858C6.28046 8.50826 6.35022 8.36835 6.46341 8.26879C6.57661 8.16923 6.72427 8.1179 6.87482 8.12579C7.02537 8.13368 7.16685 8.20016 7.26902 8.31101L9.94996 11.3585C9.95729 11.3669 9.96633 11.3736 9.97646 11.3782C9.98659 11.3828 9.99759 11.3851 10.0087 11.3851C10.0198 11.3851 10.0308 11.3828 10.041 11.3782C10.0511 11.3736 10.0601 11.3669 10.0675 11.3585L12.7484 8.31101C12.8506 8.20016 12.9921 8.13368 13.1426 8.12579C13.2932 8.1179 13.4408 8.16923 13.554 8.26879C13.6672 8.36835 13.737 8.50825 13.7483 8.65858C13.7597 8.8089 13.7119 8.95771 13.615 9.0732L10.55 12.5569C10.4823 12.6339 10.399 12.6955 10.3057 12.7377C10.2124 12.78 10.1111 12.8019 10.0087 12.8019Z' fill='black' fill-opacity='0.25')

                                    .faq__cont
                                        p.colorBlack45 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                                .faq__item
                                    .faq__title
                                        .titleText
                                            span.medium.colorBlack85 The most popular month to visit Bangkok from Hanoi?
                                        .titleIcon
                                            svg.svg1point5(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                circle(cx='10' cy='10' r='9.5' transform='rotate(-90 10 10)' stroke='black' stroke-opacity='0.25')
                                                path(d='M10.0087 12.8019C9.9065 12.8021 9.80543 12.7804 9.71226 12.7384C9.61909 12.6963 9.53595 12.6349 9.4684 12.5582L6.40246 9.0732C6.30556 8.95772 6.25768 8.8089 6.26907 8.65858C6.28046 8.50826 6.35022 8.36835 6.46341 8.26879C6.57661 8.16923 6.72427 8.1179 6.87482 8.12579C7.02537 8.13368 7.16685 8.20016 7.26902 8.31101L9.94996 11.3585C9.95729 11.3669 9.96633 11.3736 9.97646 11.3782C9.98659 11.3828 9.99759 11.3851 10.0087 11.3851C10.0198 11.3851 10.0308 11.3828 10.041 11.3782C10.0511 11.3736 10.0601 11.3669 10.0675 11.3585L12.7484 8.31101C12.8506 8.20016 12.9921 8.13368 13.1426 8.12579C13.2932 8.1179 13.4408 8.16923 13.554 8.26879C13.6672 8.36835 13.737 8.50825 13.7483 8.65858C13.7597 8.8089 13.7119 8.95771 13.615 9.0732L10.55 12.5569C10.4823 12.6339 10.399 12.6955 10.3057 12.7377C10.2124 12.78 10.1111 12.8019 10.0087 12.8019Z' fill='black' fill-opacity='0.25')

                                    .faq__cont
                                        p.colorBlack45 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                                .faq__item
                                    .faq__title
                                        .titleText
                                            span.medium.colorBlack85 The most popular month to visit Bangkok from Hanoi?
                                        .titleIcon
                                            svg.svg1point5(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                circle(cx='10' cy='10' r='9.5' transform='rotate(-90 10 10)' stroke='black' stroke-opacity='0.25')
                                                path(d='M10.0087 12.8019C9.9065 12.8021 9.80543 12.7804 9.71226 12.7384C9.61909 12.6963 9.53595 12.6349 9.4684 12.5582L6.40246 9.0732C6.30556 8.95772 6.25768 8.8089 6.26907 8.65858C6.28046 8.50826 6.35022 8.36835 6.46341 8.26879C6.57661 8.16923 6.72427 8.1179 6.87482 8.12579C7.02537 8.13368 7.16685 8.20016 7.26902 8.31101L9.94996 11.3585C9.95729 11.3669 9.96633 11.3736 9.97646 11.3782C9.98659 11.3828 9.99759 11.3851 10.0087 11.3851C10.0198 11.3851 10.0308 11.3828 10.041 11.3782C10.0511 11.3736 10.0601 11.3669 10.0675 11.3585L12.7484 8.31101C12.8506 8.20016 12.9921 8.13368 13.1426 8.12579C13.2932 8.1179 13.4408 8.16923 13.554 8.26879C13.6672 8.36835 13.737 8.50825 13.7483 8.65858C13.7597 8.8089 13.7119 8.95771 13.615 9.0732L10.55 12.5569C10.4823 12.6339 10.399 12.6955 10.3057 12.7377C10.2124 12.78 10.1111 12.8019 10.0087 12.8019Z' fill='black' fill-opacity='0.25')

                                    .faq__cont
                                        p.colorBlack45 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                                .faq__item
                                    .faq__title
                                        .titleText
                                            span.medium.colorBlack85 The most popular month to visit Bangkok from Hanoi?
                                        .titleIcon
                                            svg.svg1point5(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                circle(cx='10' cy='10' r='9.5' transform='rotate(-90 10 10)' stroke='black' stroke-opacity='0.25')
                                                path(d='M10.0087 12.8019C9.9065 12.8021 9.80543 12.7804 9.71226 12.7384C9.61909 12.6963 9.53595 12.6349 9.4684 12.5582L6.40246 9.0732C6.30556 8.95772 6.25768 8.8089 6.26907 8.65858C6.28046 8.50826 6.35022 8.36835 6.46341 8.26879C6.57661 8.16923 6.72427 8.1179 6.87482 8.12579C7.02537 8.13368 7.16685 8.20016 7.26902 8.31101L9.94996 11.3585C9.95729 11.3669 9.96633 11.3736 9.97646 11.3782C9.98659 11.3828 9.99759 11.3851 10.0087 11.3851C10.0198 11.3851 10.0308 11.3828 10.041 11.3782C10.0511 11.3736 10.0601 11.3669 10.0675 11.3585L12.7484 8.31101C12.8506 8.20016 12.9921 8.13368 13.1426 8.12579C13.2932 8.1179 13.4408 8.16923 13.554 8.26879C13.6672 8.36835 13.737 8.50825 13.7483 8.65858C13.7597 8.8089 13.7119 8.95771 13.615 9.0732L10.55 12.5569C10.4823 12.6339 10.399 12.6955 10.3057 12.7377C10.2124 12.78 10.1111 12.8019 10.0087 12.8019Z' fill='black' fill-opacity='0.25')

                                    .faq__cont
                                        p.colorBlack45 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                                .faq__item
                                    .faq__title
                                        .titleText
                                            span.medium.colorBlack85 The most popular month to visit Bangkok from Hanoi?
                                        .titleIcon
                                            svg.svg1point5(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                circle(cx='10' cy='10' r='9.5' transform='rotate(-90 10 10)' stroke='black' stroke-opacity='0.25')
                                                path(d='M10.0087 12.8019C9.9065 12.8021 9.80543 12.7804 9.71226 12.7384C9.61909 12.6963 9.53595 12.6349 9.4684 12.5582L6.40246 9.0732C6.30556 8.95772 6.25768 8.8089 6.26907 8.65858C6.28046 8.50826 6.35022 8.36835 6.46341 8.26879C6.57661 8.16923 6.72427 8.1179 6.87482 8.12579C7.02537 8.13368 7.16685 8.20016 7.26902 8.31101L9.94996 11.3585C9.95729 11.3669 9.96633 11.3736 9.97646 11.3782C9.98659 11.3828 9.99759 11.3851 10.0087 11.3851C10.0198 11.3851 10.0308 11.3828 10.041 11.3782C10.0511 11.3736 10.0601 11.3669 10.0675 11.3585L12.7484 8.31101C12.8506 8.20016 12.9921 8.13368 13.1426 8.12579C13.2932 8.1179 13.4408 8.16923 13.554 8.26879C13.6672 8.36835 13.737 8.50825 13.7483 8.65858C13.7597 8.8089 13.7119 8.95771 13.615 9.0732L10.55 12.5569C10.4823 12.6339 10.399 12.6955 10.3057 12.7377C10.2124 12.78 10.1111 12.8019 10.0087 12.8019Z' fill='black' fill-opacity='0.25')

                                    .faq__cont
                                        p.colorBlack45 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                                .faq__item
                                    .faq__title
                                        .titleText
                                            span.medium.colorBlack85 The most popular month to visit Bangkok from Hanoi?
                                        .titleIcon
                                            svg.svg1point5(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                circle(cx='10' cy='10' r='9.5' transform='rotate(-90 10 10)' stroke='black' stroke-opacity='0.25')
                                                path(d='M10.0087 12.8019C9.9065 12.8021 9.80543 12.7804 9.71226 12.7384C9.61909 12.6963 9.53595 12.6349 9.4684 12.5582L6.40246 9.0732C6.30556 8.95772 6.25768 8.8089 6.26907 8.65858C6.28046 8.50826 6.35022 8.36835 6.46341 8.26879C6.57661 8.16923 6.72427 8.1179 6.87482 8.12579C7.02537 8.13368 7.16685 8.20016 7.26902 8.31101L9.94996 11.3585C9.95729 11.3669 9.96633 11.3736 9.97646 11.3782C9.98659 11.3828 9.99759 11.3851 10.0087 11.3851C10.0198 11.3851 10.0308 11.3828 10.041 11.3782C10.0511 11.3736 10.0601 11.3669 10.0675 11.3585L12.7484 8.31101C12.8506 8.20016 12.9921 8.13368 13.1426 8.12579C13.2932 8.1179 13.4408 8.16923 13.554 8.26879C13.6672 8.36835 13.737 8.50825 13.7483 8.65858C13.7597 8.8089 13.7119 8.95771 13.615 9.0732L10.55 12.5569C10.4823 12.6339 10.399 12.6955 10.3057 12.7377C10.2124 12.78 10.1111 12.8019 10.0087 12.8019Z' fill='black' fill-opacity='0.25')

                                    .faq__cont
                                        p.colorBlack45 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

        include jades/footer
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/slick.min.js')
        script(src='/js/t-datepicker.min.js')

        script.
            $('.t-datepicker').tDatePicker({
                autoClose: true,
                titleCheckIn: 'Depart',
                titleCheckOut: 'Return',
                titleDateRange: 'day',
                titleDateRanges: 'days',
                iconDate: '<i class="fas fa-calendar-alt"></i>',
                iconArrowTop: false
            });
        script.
            // header
            $(".header__toggle").click(function () {
                $('.navbarBox').addClass('open');
            });
            $(".navbarBox__close, .navbarBox__backdrop").click(function () {
                $('.navbarBox').removeClass('open');
            });
            if (screen.width < 768) {
                $('.navbarBox__list ul').slideUp(300);
                $(".navbarBox__title").click(function () {
                    $(this).toggleClass('active');
                    $(this).next('.navbarBox__list ul').slideToggle(300);
                });
            };
        script.
            $('.faq__cont').slideUp();
            $('.faq__title').click(function () {
                $(this).next().slideToggle();
                $(this).find('svg').toggleClass('active')
                $(this).find('svg').toggleClass('')
            })




