- var page = "index1";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header
        main.wrapper
            section.favouriteDes
                .homeBanner(style='background-image: url(images/favourite.jpg)')
                    .homeBanner__backdrop
                    .homeBanner__cont.colorWhite.textCenter
                        h2.mb5 Favourite Destinations
                        p.mb0 Lorem Ipsum is simply dummy text of the printing and typesetting industry
                .container
                    ul.tabInfo
                        li
                            a(href='newAndUpdate.html')
                                span News & updates
                        li
                            a(href='baggageInfo.html')
                                span Baggage information
                        li
                            a(href='flightRoutes.html')
                                span Flight routes
                        li
                            a(href='fleetRev.html')
                                span Fleet Revitalization
                        li.active
                            a(href='favDes.html')
                                span Favourite Destinations

                .favouriteDes__main
                    .container
                        .favouriteDes__cont
                            h3.medium.text20 Domestic
                            .favouriteDes__link
                                a(href='#')
                                    span Sydney
                                a(href='#')
                                    span Melbourne
                                a(href='#')
                                    span Brisbane
                                a(href='#')
                                    span Perth
                                a(href='#')
                                    span Adelaide
                                a(href='#')
                                    span Gold Coast
                                a(href='#')
                                    span Newcastle
                                a(href='#')
                                    span Canberra
                                a(href='#')
                                    span Sunshine Coast
                                a(href='#')
                                    span Wollongong
                                a(href='#')
                                    span Geelong
                                a(href='#')
                                    span Hobart
                                a(href='#')
                                    span Townsville
                                a(href='#')
                                    span Cairns
                                a(href='#')
                                    span Darwin
                                a(href='#')
                                    span Toowoomba
                                a(href='#')
                                    span Ballarat
                                a(href='#')
                                    span Bendigo
                                a(href='#')
                                    span Albury
                                a(href='#')
                                    span Launceston
                            h5.text16.medium Sydney
                            img(src='images/sydney.jpg')
                            p.medium What is Lorem Ipsum?
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            p.medium Why do we use it?
                            p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            p.medium Where does it come from?
                            p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                            p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                            p.medium Where does it come from?
                            p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                            p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                            h3.medium.text20 International
                            .favouriteDes__link
                                a(href='#')
                                    span Sydney
                                a(href='#')
                                    span Melbourne
                                a(href='#')
                                    span Brisbane
                                a(href='#')
                                    span Perth
                                a(href='#')
                                    span Adelaide
                                a(href='#')
                                    span Gold Coast
                                a(href='#')
                                    span Newcastle
                                a(href='#')
                                    span Canberra
                                a(href='#')
                                    span Sunshine Coast
                                a(href='#')
                                    span Wollongong
                                a(href='#')
                                    span Geelong
                                a(href='#')
                                    span Hobart
                                a(href='#')
                                    span Townsville
                                a(href='#')
                                    span Cairns
                                a(href='#')
                                    span Darwin
                                a(href='#')
                                    span Toowoomba
                                a(href='#')
                                    span Ballarat
                                a(href='#')
                                    span Bendigo
                                a(href='#')
                                    span Albury
                                a(href='#')
                                    span Launceston
        include jades/footer
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/slick.min.js')
        script(src='/js/t-datepicker.min.js')

        script.
            $('.t-datepicker').tDatePicker({
                autoClose: true,
                titleCheckIn: 'Depart',
                titleCheckOut: 'Return',
                titleDateRange: 'day',
                titleDateRanges: 'days',
                iconDate: '<i class="fas fa-calendar-alt"></i>',
                iconArrowTop: false
            });
        script.
            // header
            $(".header__toggle").click(function () {
                $('.navbarBox').addClass('open');
            });
            $(".navbarBox__close, .navbarBox__backdrop").click(function () {
                $('.navbarBox').removeClass('open');
            });
            if (screen.width < 768) {
                $('.navbarBox__list ul').slideUp(300);
                $(".navbarBox__title").click(function () {
                    $(this).toggleClass('active');
                    $(this).next('.navbarBox__list ul').slideToggle(300);
                });
            };
        script.
            $('.newAndUpdate__cont').slideUp();
            $('.newAndUpdate__title').click(function () {
                $(this).next().slideToggle();
                $(this).find('svg').toggleClass('active')
            })




