- var page = "index";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header

        main.wrapper
            section.layoutInfo
                .layoutInfo__banner(style='background-image: url("../images/layoutInfo__banner2.jpg");')
                    .container
                        h2 Travel Infomation
                .layoutInfo__body
                    .container
                        h2.mb15 Travel Infomation
                        .layoutInfo__box
                            ul.layoutInfo__navbar
                                li
                                    a(href='newAndUpdate.html')
                                        span News & Updates
                                        svg(width='8', height='12', viewBox='0 0 8 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M0.589844 10.58L5.16984 6L0.589844 1.41L1.99984 0L7.99984 6L1.99984 12L0.589844 10.58Z', fill='black', fill-opacity='0.55')
                                li
                                    a(href='baggageInfo.html')
                                        span Baggage Information
                                        svg(width='8', height='12', viewBox='0 0 8 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M0.589844 10.58L5.16984 6L0.589844 1.41L1.99984 0L7.99984 6L1.99984 12L0.589844 10.58Z', fill='black', fill-opacity='0.55')
                                li
                                    a(href='flightRoutes.html')
                                        span Flight Routes
                                        svg(width='8', height='12', viewBox='0 0 8 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M0.589844 10.58L5.16984 6L0.589844 1.41L1.99984 0L7.99984 6L1.99984 12L0.589844 10.58Z', fill='black', fill-opacity='0.55')
                                li
                                    a(href='fleet.html')
                                        span Fleet Revitalization
                                        svg(width='8', height='12', viewBox='0 0 8 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M0.589844 10.58L5.16984 6L0.589844 1.41L1.99984 0L7.99984 6L1.99984 12L0.589844 10.58Z', fill='black', fill-opacity='0.55')
                                li.active
                                    a(href='favDes.html')
                                        span Favourite Destinations
                                        svg(width='8', height='12', viewBox='0 0 8 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M0.589844 10.58L5.16984 6L0.589844 1.41L1.99984 0L7.99984 6L1.99984 12L0.589844 10.58Z', fill='black', fill-opacity='0.55')
                                    ul.layoutInfo__sub
                                        li.active
                                            a(href='#')
                                                span Domestic
                                        li
                                            a(href='#')
                                                span International
                            .layoutInfo__cont
                                .favDes
                                    h3.mb15 Favourite Destinations
                                    .favDes__cont
                                        ul.favDes__list
                                            li
                                                a(href='#')
                                                    span Bangkok
                                            li
                                                a(href='#')
                                                    span Nakhon Ratchasima
                                            li
                                                a(href='#')
                                                    span Nakhon Ratchasima
                                            li
                                                a(href='#')
                                                    span Nakhon Ratchasima
                                            li
                                                a(href='#')
                                                    span Nakhon Ratchasima
                                            li
                                                a(href='#')
                                                    span Khon Kaen
                                            li
                                                a(href='#')
                                                    span Laem Chabang
                                            li
                                                a(href='#')
                                                    span Rangsit
                                            li
                                                a(href='#')
                                                    span Nakhon Ratchasima
                                            li
                                                a(href='#')
                                                    span Khon Kaen
                                            li
                                                a(href='#')
                                                    span Laem Chabang
                                            li
                                                a(href='#')
                                                    span Rangsit
                                        p.medium.text16.colorBlack85 Bangkok
                                        .favDes__img.mb15
                                            img(src='images/favDes-img.jpg')
                                        p.medium What is Lorem Ipsum?
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        p.medium What is Lorem Ipsum?
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

        include jades/footer
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/slick.min.js')


        script.
            $('.camNavbar__toggle').click(function () {
                $('.camNavbar__main').addClass('open');
            });

            $('.camNavbar__close, .camNavbar__backdrop').click(function () {
                $('.camNavbar__main').removeClass('open');
            });
            if (screen.width < 768) {
                $('.camNavbar__link').click(function () {
                    $(this).next('.camNavbar__sub').slideToggle(200);
                    $(this).parent('li').toggleClass('active');
                });
            };
            if (screen.width < 768) {
                $('.footer__top').css('background-image', 'url("images/footer-bg-mobile.jpg")')
            };




