- var page = "index";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header

        main.wrapper
            section.flightPayment
                .flightHeader
                    .container
                        .flightHeader__left
                            .flightStep
                                .flightStep__item.step1.visited
                                    .flightStep__numb 1
                                    .flightStep__text Select Flight
                                .flightStep__item.step2.visited
                                    .flightStep__numb 2
                                    .flightStep__text Passenger
                                .flightStep__item.step3.visited
                                    .flightStep__numb 3
                                    .flightStep__text Review
                                .flightStep__item.step4.active
                                    .flightStep__numb 4
                                    .flightStep__text Payment
                            .flightStepMobile 03. Review


                .flightPayment__body
                    .container
                        .flightPayment__box
                            .flightPayment__icon
                                svg.svg1point5(width='128', height='86', viewBox='0 0 128 86', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M101.333 85.6667H32C14.4533 85.6667 0 71.2133 0 53.6667C0 37.1333 12.48 23.5867 28.5333 21.8267C35.2 9.08001 48.5867 0.333344 64 0.333344C83.4133 0.333344 99.5733 14.1467 103.2 32.4933C117.067 33.5067 128 44.92 128 59C128 73.6133 115.947 85.6667 101.333 85.6667ZM58.6667 59V69.6667H69.3333V59H58.6667ZM58.6667 48.3333H69.3333V21.6667H58.6667V48.3333Z', fill='#DB3D52')
                            p.flightPayment__title.colorRed Your payment was failed
                            .flightPayment__cont
                                p.text16.colorBlack85.medium.mb15 Your payment was failed. The transaction may be not successful due to some of reasons:
                                .flightPayment__list
                                    ul
                                        li In correct card infomation (Card number, Card holder name, Date of expiration...)
                                        li Not enough credit balance (daily or monthly) or Isuffcient Funds.
                                        li Your should check your bank account balance
                                        li Your card has not been activated for online payment
                                        li You should contact the Issuer Bank for the card activation
                                        li You should contact the Issuer Bank for the card activation
                                        li Kindly solve the problem and make payment again to secure your reservation

                                .flightPayment__tip
                                    button.formBox__tip(type='button' data-toggle="modal" data-target="#tipsModal")
                                        svg.svg1(width='8', height='12', viewBox='0 0 8 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M0.589844 10.58L5.16984 6L0.589844 1.41L1.99984 0L7.99984 6L1.99984 12L0.589844 10.58Z', fill='black', fill-opacity='0.55')
                                        span Tips on entering your name
                            .flightPayment__btn
                                p.text14.colorBlack85.mb15 Note: We are holding your booking request in a limited time only, otherwise our system will cancel your booking request automatically
                                a.btn.btn-orange-1(href='#') Pay again
                        .flightPayment__box
                            .flightPayment__icon
                                svg.svg1point5(width='120', height='80', viewBox='0 0 120 80', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M50 65.0001L32.5 47.5001L39.55 40.4001L50 50.8501L75.9 25.0001L82.95 32.0501L50 65.0001ZM96.75 30.1501C93.35 12.9501 78.2 9.15527e-05 60 9.15527e-05C45.55 9.15527e-05 33 8.20009 26.75 20.1501C11.7 21.8001 0 34.5001 0 50.0001C0 57.9566 3.16071 65.5872 8.7868 71.2133C14.4129 76.8394 22.0435 80.0001 30 80.0001H95C98.2831 80.0001 101.534 79.3534 104.567 78.0971C107.6 76.8407 110.356 74.9992 112.678 72.6777C114.999 70.3563 116.841 67.6003 118.097 64.5672C119.353 61.534 120 58.2831 120 55.0001C120 41.8001 109.75 31.1001 96.75 30.1501Z', fill='#81BE33')

                            p.flightPayment__title.colorGreen Your payment was processed successfully
                            .flightPayment__text
                                p.text14.colorBlack85.mb15 Your booking is under processing now and E-Ticket(s) will be sent to your email (you may need to check Junk & Spam boxes)
                                p.text14.colorBlack85.mb15 Please manage your booking status carefully, it should be done within 4-8 hours.
                                p.text14.colorBlack85.mb15 NOTE: Use your e-ticket number for checking/referencing after ticket issued.
                                .flightPayment__booking
                                    a.viewMore(href='#')
                                        svg.svg1(width='8', height='12', viewBox='0 0 8 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M0.589844 10.58L5.16984 6L0.589844 1.41L1.99984 0L7.99984 6L1.99984 12L0.589844 10.58Z', fill='black', fill-opacity='0.55')
                                        span Booking status
                                .flightPayment__price
                                    span Amount 302.5USD
                                p.text14.colorBlack85.mb15 Payment Date: 07-Apr-2020
                                p.text14.colorBlack85.mb15 FlyGarudaIndonesia Reservations
                                .flightPayment__link
                                    p [E] reservations@flygarudaindonesia.com
                                    p [W] https://www.flygarudaindonesia.com/
        #tipsModal.modal.fade
            .modal-dialog.modal-tips
                .modal-content
                    .modal-body
                        button.close(type='button', data-dismiss='modal')
                            svg.svg1point5(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z', fill='black', fill-opacity='0.55')
                        .modal-tips__cont
                            .modal-tips__text.mb15
                                h3.mb15 Tips on entering your name
                                p.text14.colorBlack85 Enter your full name just as it appears on your passport. Use only alphabetical characters (A to Z), with a maximum of 25 characters for your first/given name, and 30 characters for your last/family name

                            .tipsBox
                                .tipsBox__item
                                    button.tipsBox__btn(type='button')
                                        span No first name
                                        i.fas.fa-chevron-down
                                    .tipsBox__body
                                        .tipsBox__cont
                                            p.text14.colorBlack85.mb15 If you don't have a first name, check the box stating "This passenger does not have a first/given name".
                                            p.text14.colorBlack85 Name on the travel document:
                                            p.text16.colorBlack85.medium.mb15 Phuong
                                            .form-group
                                                label.labelStar First/Given
                                                input.form-control(type='text' placeholder='First/Given' disabled='disabled')
                                            .checkbox.mb15
                                                input#pp11(type='checkbox')
                                                label(for='pp11') This passenger does not have a first/given name in the passport
                                            .form-group
                                                label.labelStar Last/Family Name
                                                input.form-control(type='text' value='Phuong')
                                .tipsBox__item
                                    button.tipsBox__btn(type='button')
                                        span No last name
                                        i.fas.fa-chevron-down
                                    .tipsBox__body
                                        .tipsBox__cont
                                            p.text14.colorBlack85.mb15 If you don’t have a last name, check the box stating “This passenger does not have a first/given name”. Then enter your first name in the last/family name field.
                                            p.text14.colorBlack85 Name on the travel document:
                                            p.text16.colorBlack85.medium.mb15 Phuong
                                            .form-group
                                                label.labelStar First/Given
                                                input.form-control(type='text' placeholder='First/Given' disabled='disabled')
                                            .checkbox.mb15
                                                input#pp11(type='checkbox')
                                                label(for='pp11') This passenger does not have a first/given name in the passport
                                            .form-group
                                                label.labelStar Last/Family Name
                                                input.form-control(type='text' value='Phuong')
                                .tipsBox__item
                                    button.tipsBox__btn(type='button')
                                        span Last name contains a single letter
                                        i.fas.fa-chevron-down
                                    .tipsBox__body
                                        .tipsBox__cont
                                            p.text14.colorBlack85.mb15 If your last name is made up of only one letter, double the letter in the last/given name field.
                                            p.text14.colorBlack85 Name on the travel document:
                                            p.text16.colorBlack85.medium.mb15 Join K
                                            .form-group
                                                label.labelStar First/Given
                                                input.form-control(type='text' placeholder='First/Given')
                                            .checkbox.mb15
                                                input#pp11(type='checkbox')
                                                label(for='pp11') This passenger does not have a first/given name in the passport
                                            .form-group
                                                label.labelStar Last/Family Name
                                                input.form-control(type='text' value='Phuong')
                                .tipsBox__item
                                    button.tipsBox__btn(type='button')
                                        span Name contains special charaters
                                        i.fas.fa-chevron-down
                                    .tipsBox__body
                                        .tipsBox__cont
                                            p.text14.colorBlack85.mb15 If your name is made up of special characters such as hyphens or apostrophes, remove them when you enter your name
                                            p.text14.colorBlack85 Name on the travel document:
                                            p.text16.colorBlack85.medium.mb15 Join K
                                            .form-group
                                                label.labelStar First/Given
                                                input.form-control(type='text' placeholder='First/Given')
                                            .checkbox.mb15
                                                input#pp11(type='checkbox')
                                                label(for='pp11') This passenger does not have a first/given name in the passport
                                            .form-group
                                                label.labelStar Last/Family Name
                                                input.form-control(type='text' value='Phuong')
                                .tipsBox__item
                                    button.tipsBox__btn(type='button')
                                        span Name contains a suffix
                                        i.fas.fa-chevron-down
                                    .tipsBox__body
                                        .tipsBox__cont
                                            p.text14.colorBlack85.mb15 If your name is made up of special characters such as hyphens or apostrophes, remove them when you enter your name
                                            p.text14.colorBlack85 Name on the travel document:
                                            p.text16.colorBlack85.medium.mb15 Join K
                                            .form-group
                                                label.labelStar First/Given
                                                input.form-control(type='text' placeholder='First/Given')
                                            .checkbox.mb15
                                                input#pp11(type='checkbox')
                                                label(for='pp11') This passenger does not have a first/given name in the passport
                                            .form-group
                                                label.labelStar Last/Family Name
                                                input.form-control(type='text' value='Phuong')
                                .tipsBox__item
                                    button.tipsBox__btn(type='button')
                                        span First name is too long
                                        i.fas.fa-chevron-down
                                    .tipsBox__body
                                        .tipsBox__cont
                                            p.text14.colorBlack85.mb15 If your name is made up of special characters such as hyphens or apostrophes, remove them when you enter your name
                                            p.text14.colorBlack85 Name on the travel document:
                                            p.text16.colorBlack85.medium.mb15 Join K
                                            .form-group
                                                label.labelStar First/Given
                                                input.form-control(type='text' placeholder='First/Given')
                                            .checkbox.mb15
                                                input#pp11(type='checkbox')
                                                label(for='pp11') This passenger does not have a first/given name in the passport
                                            .form-group
                                                label.labelStar Last/Family Name
                                                input.form-control(type='text' value='Phuong')
                                .tipsBox__item
                                    button.tipsBox__btn(type='button')
                                        span Last name is too long
                                        i.fas.fa-chevron-down
                                    .tipsBox__body
                                        .tipsBox__cont
                                            p.text14.colorBlack85.mb15 If your name is made up of special characters such as hyphens or apostrophes, remove them when you enter your name
                                            p.text14.colorBlack85 Name on the travel document:
                                            p.text16.colorBlack85.medium.mb15 Join K
                                            .form-group
                                                label.labelStar First/Given
                                                input.form-control(type='text' placeholder='First/Given')
                                            .checkbox.mb15
                                                input#pp11(type='checkbox')
                                                label(for='pp11') This passenger does not have a first/given name in the passport
                                            .form-group
                                                label.labelStar Last/Family Name
                                                input.form-control(type='text' value='Phuong')
        include jades/footer
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/slick.min.js')
        script(src='/js/t-datepicker.min.js')

        script.
            $('.camNavbar__toggle').click(function () {
                $('.camNavbar__main').addClass('open');
            });

            $('.camNavbar__close, .camNavbar__backdrop').click(function () {
                $('.camNavbar__main').removeClass('open');
            });
            if (screen.width < 768) {
                $('.camNavbar__link').click(function () {
                    $(this).next('.camNavbar__sub').slideToggle(200);
                    $(this).parent('li').toggleClass('active');
                });
            };
            if (screen.width < 768) {
                $('.footer__top').css('background-image', 'url("images/footer-bg-mobile.jpg")')
            };
        script.
            $('.t-datepicker').tDatePicker({
                autoClose: true,
                titleCheckIn: 'Depart',
                titleCheckOut: 'Return',
                titleDateRange: 'day',
                titleDateRanges: 'days',
                iconDate: '<i class="fas fa-calendar-alt"></i>',
                iconArrowTop: false
            });
        script.
            $('.btnDetail').click(function () {
                $(this).toggleClass('rotate');
                $(this).parents('.formBox__price__detail').find('.costBox').slideToggle(200);
            });
        script.
            $(".tipsBox__btn").on("click", function () {
                if ($(this).hasClass("active")) {
                    $(this).removeClass("active");
                    $(this)
                        .siblings(".tipsBox__body")
                        .slideUp(200);
                    $(".tipsBox__btn i")
                        .removeClass("fa-chevron-up")
                        .addClass("fa-chevron-down");
                } else {
                    $(".tipsBox__btn i")
                        .removeClass("fa-chevron-up")
                        .addClass("fa-chevron-down");
                    $(this)
                        .find("i")
                        .removeClass("fa-chevron-down")
                        .addClass("fa-chevron-up");
                    $(".tipsBox__btn").removeClass("active");
                    $(this).addClass("active");
                    $(".tipsBox__body").slideUp(200);
                    $(this)
                        .siblings(".tipsBox__body")
                        .slideDown(200);
                }
            });




