- var page = "index";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header

        main.wrapper
            section.flightStatus
                .flHeader(style='background-image: url("images/schedules-bg.jpg");')
                    .container
                        .d-block
                            .flHeader__name
                                span Hanoi (HAN), Vietnam
                                svg.svg1point5(width='19', height='9', viewBox='0 0 19 9', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M19 4.33576L15 0.0340576V3.26033H0V5.41118H15V8.63745L19 4.33576Z', fill='white')
                                span Bangkok (BKK), Thailand
                            p.text14.colorWhite 15 JAN
                        .editBtn
                            button.btn.btn-orange-1(type='button' data-toggle="modal" data-target="#statusModal")
                                span edit
                .flightStatus__body
                    .container
                        .flTitle
                            h2.mb15 Flight Status for HAN to BKK
                            p.text16.colorBlack55 Review the status of the flights that match your search.
                        .flightStatus__desktop
                            table.table.table-flight
                                thead
                                    tr
                                        th DEP TIME
                                        th.text-center STOPS
                                        th.text-center STATUS
                                tbody
                                    tr
                                        td
                                            .schedulesInfo
                                                .flTimes
                                                    p
                                                        span.text16.medium.colorBlack85 06:50 am
                                                    svg.svg1point5(width='19', height='8', viewBox='0 0 19 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M19 4L15 0V3H0V5H15V8L19 4Z', fill='black', fill-opacity='0.85')
                                                    p
                                                        span.text16.medium.colorBlack85 12:20 pm
                                                .flCode
                                                    svg.svg1point5(width='24', height='19', viewBox='0 0 24 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M24 9.66457C23.8961 10.3295 23.8338 11.0152 23.6883 11.6802C22.8364 15.3789 19.7403 18.2464 15.9792 18.8282C11.6156 19.4931 7.5013 17.2074 5.77662 13.1347C5.67273 12.8853 5.56883 12.7815 5.25714 12.823C4.50909 12.9477 3.74026 13.0516 2.97143 13.1139C2.7013 13.1347 2.41039 13.0931 2.14026 13.01C1.53766 12.8022 0.976623 12.5529 0.394805 12.2828C0.249351 12.2204 0.124675 12.0957 0 11.9918C0.0207792 11.9711 0.0207792 11.9295 0.0415584 11.9087C0.768831 12.1165 1.47532 12.3243 2.2026 12.5113C2.36883 12.5529 2.55584 12.5737 2.72208 12.5529C5.83896 11.9503 8.93507 11.3269 12.0519 10.7035C12.1143 10.6828 12.1558 10.662 12.3221 10.6204C11.8857 10.3711 11.5117 10.2048 11.2 9.97626C10.7221 9.62301 10.2442 9.60223 9.66234 9.76847C8.18701 10.1841 6.69091 10.5373 5.15325 10.9113C5.11169 10.6412 5.04935 10.3918 5.02857 10.1425C4.92468 8.48015 5.21558 6.92171 5.9013 5.40483C6.04675 5.09314 6.21299 5.19704 6.4 5.28015C9.28831 6.50613 12.1766 7.71132 15.0649 8.9373C15.626 9.18665 16.2078 9.56067 16.7896 9.60223C17.3714 9.64379 17.9532 9.35288 18.5558 9.18665C20.1766 8.77106 21.8182 8.3347 23.439 7.91911C23.5429 7.89834 23.6468 7.87756 23.7922 7.85678C23.8545 8.35548 23.9169 8.81262 23.9792 9.26976C24 9.41522 24 9.53989 24 9.66457Z', fill='#662F8E')
                                                        path(d='M23.6054 7.1087C22.5248 6.7139 21.5067 6.92169 20.4677 7.2126C19.2002 7.56585 17.9326 7.89831 16.6651 8.23078C16.4781 8.27234 16.2495 8.27234 16.0625 8.21C13.4236 7.23338 10.7638 6.23598 8.12485 5.25935C7.79238 5.13468 7.41836 5.09312 7.04433 5.05156C6.7742 5.01 6.48329 5.05156 6.19238 5.05156C7.48069 2.24637 10.9716 -0.267919 15.0443 0.0229896C19.221 0.313899 23.1482 3.57624 23.6054 7.1087Z', fill='#662F8E')
                                                    p
                                                        span.text12.colorBlack85 K6 - 3835 - 321
                                                .statusShow
                                                    .flText
                                                        p.medium.text16.colorBlack85 Flight #3835
                                                        p.medium.text16.colorBlack85
                                                            span.inline-block Hanoi (HAN)
                                                            svg.svg1point5.inline-block.mrl15(width='19', height='8', viewBox='0 0 19 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M19 4L15 0V3H0V5H15V8L19 4Z', fill='black', fill-opacity='0.35')
                                                            span.inline-block Bangkok (BKK)
                                                        p.text14.medium.colorBlack55.mt5 Flight status is not avaiable for selected criteria
                                        td.text-center
                                            .flStops
                                                p.text16.colorBlack85.medium 1 Stop
                                                p.text14.colorBlack55 (SGN)
                                        td.text-center
                                            button.viewMore(type='button')
                                                span View Status
                                                i.fas.fa-caret-right
                                    tr
                                        td
                                            .schedulesInfo
                                                .flTimes
                                                    p
                                                        span.text16.medium.colorBlack85 06:50 am
                                                    svg.svg1point5(width='19', height='8', viewBox='0 0 19 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M19 4L15 0V3H0V5H15V8L19 4Z', fill='black', fill-opacity='0.85')
                                                    p
                                                        span.text16.medium.colorBlack85 12:20 pm
                                                .flCode
                                                    svg.svg1point5(width='24', height='19', viewBox='0 0 24 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M24 9.66457C23.8961 10.3295 23.8338 11.0152 23.6883 11.6802C22.8364 15.3789 19.7403 18.2464 15.9792 18.8282C11.6156 19.4931 7.5013 17.2074 5.77662 13.1347C5.67273 12.8853 5.56883 12.7815 5.25714 12.823C4.50909 12.9477 3.74026 13.0516 2.97143 13.1139C2.7013 13.1347 2.41039 13.0931 2.14026 13.01C1.53766 12.8022 0.976623 12.5529 0.394805 12.2828C0.249351 12.2204 0.124675 12.0957 0 11.9918C0.0207792 11.9711 0.0207792 11.9295 0.0415584 11.9087C0.768831 12.1165 1.47532 12.3243 2.2026 12.5113C2.36883 12.5529 2.55584 12.5737 2.72208 12.5529C5.83896 11.9503 8.93507 11.3269 12.0519 10.7035C12.1143 10.6828 12.1558 10.662 12.3221 10.6204C11.8857 10.3711 11.5117 10.2048 11.2 9.97626C10.7221 9.62301 10.2442 9.60223 9.66234 9.76847C8.18701 10.1841 6.69091 10.5373 5.15325 10.9113C5.11169 10.6412 5.04935 10.3918 5.02857 10.1425C4.92468 8.48015 5.21558 6.92171 5.9013 5.40483C6.04675 5.09314 6.21299 5.19704 6.4 5.28015C9.28831 6.50613 12.1766 7.71132 15.0649 8.9373C15.626 9.18665 16.2078 9.56067 16.7896 9.60223C17.3714 9.64379 17.9532 9.35288 18.5558 9.18665C20.1766 8.77106 21.8182 8.3347 23.439 7.91911C23.5429 7.89834 23.6468 7.87756 23.7922 7.85678C23.8545 8.35548 23.9169 8.81262 23.9792 9.26976C24 9.41522 24 9.53989 24 9.66457Z', fill='#662F8E')
                                                        path(d='M23.6054 7.1087C22.5248 6.7139 21.5067 6.92169 20.4677 7.2126C19.2002 7.56585 17.9326 7.89831 16.6651 8.23078C16.4781 8.27234 16.2495 8.27234 16.0625 8.21C13.4236 7.23338 10.7638 6.23598 8.12485 5.25935C7.79238 5.13468 7.41836 5.09312 7.04433 5.05156C6.7742 5.01 6.48329 5.05156 6.19238 5.05156C7.48069 2.24637 10.9716 -0.267919 15.0443 0.0229896C19.221 0.313899 23.1482 3.57624 23.6054 7.1087Z', fill='#662F8E')
                                                    p
                                                        span.text12.colorBlack85 K6 - 3835 - 321
                                                .statusShow
                                                    .flText
                                                        p.medium.text16.colorBlack85 Flight #3835
                                                        p.medium.text16.colorBlack85
                                                            span.inline-block Hanoi (HAN)
                                                            svg.svg1point5.inline-block.mrl15(width='19', height='8', viewBox='0 0 19 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M19 4L15 0V3H0V5H15V8L19 4Z', fill='black', fill-opacity='0.35')
                                                            span.inline-block Bangkok (BKK)
                                                        p.text14.medium.colorBlack55.mt5 Flight status is not avaiable for selected criteria
                                        td.text-center
                                            .flStops
                                                p.text16.colorBlack85.medium Non Stop
                                            .statusShow
                                                .nonStop
                                                    .nonStop__item
                                                        .nonStop__label
                                                            svg.svg1(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M6.99967 0.333008C6.1242 0.333008 5.25729 0.505446 4.44845 0.840478C3.63961 1.17551 2.90469 1.66657 2.28563 2.28563C1.03539 3.53587 0.333008 5.23156 0.333008 6.99967C0.333008 8.76779 1.03539 10.4635 2.28563 11.7137C2.90469 12.3328 3.63961 12.8238 4.44845 13.1589C5.25729 13.4939 6.1242 13.6663 6.99967 13.6663C8.76779 13.6663 10.4635 12.964 11.7137 11.7137C12.964 10.4635 13.6663 8.76779 13.6663 6.99967C13.6663 6.1242 13.4939 5.25729 13.1589 4.44845C12.8238 3.63961 12.3328 2.90469 11.7137 2.28563C11.0947 1.66657 10.3597 1.17551 9.5509 0.840478C8.74206 0.505446 7.87515 0.333008 6.99967 0.333008ZM9.79967 9.79967L6.33301 7.66634V3.66634H7.33301V7.13301L10.333 8.93301L9.79967 9.79967Z', fill='white')
                                                            span ON TIME
                                                        p.text16.medium.colorBlack85.mb15 Depart
                                                        p.text14.colorBlack55.mb5 Scheduled
                                                        p.text16.medium.colorBlack85.mb5 06:50 am
                                                        p.text14.colorBlack55.mb5 Terminal / Gate
                                                        p.text16.medium.colorBlack85.mb5 - / 1
                                                    .nonStop__item
                                                        .nonStop__label
                                                            svg.svg1(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M6.99967 0.333008C6.1242 0.333008 5.25729 0.505446 4.44845 0.840478C3.63961 1.17551 2.90469 1.66657 2.28563 2.28563C1.03539 3.53587 0.333008 5.23156 0.333008 6.99967C0.333008 8.76779 1.03539 10.4635 2.28563 11.7137C2.90469 12.3328 3.63961 12.8238 4.44845 13.1589C5.25729 13.4939 6.1242 13.6663 6.99967 13.6663C8.76779 13.6663 10.4635 12.964 11.7137 11.7137C12.964 10.4635 13.6663 8.76779 13.6663 6.99967C13.6663 6.1242 13.4939 5.25729 13.1589 4.44845C12.8238 3.63961 12.3328 2.90469 11.7137 2.28563C11.0947 1.66657 10.3597 1.17551 9.5509 0.840478C8.74206 0.505446 7.87515 0.333008 6.99967 0.333008ZM9.79967 9.79967L6.33301 7.66634V3.66634H7.33301V7.13301L10.333 8.93301L9.79967 9.79967Z', fill='white')
                                                            span ON TIME
                                                        p.text16.medium.colorBlack85.mb15 Arrive
                                                        p.text14.colorBlack55.mb5 Scheduled
                                                        p.text16.medium.colorBlack85.mb5 12:20 pm
                                                        p.text14.colorBlack55.mb5 Terminal / Gate
                                                        p.text16.medium.colorBlack85.mb5 - / 1
                                        td.text-center
                                            button.viewMore(type='button')
                                                span View Status
                                                i.fas.fa-caret-right
                        .flightStatus__mobile
                            table.table.table-flight-mobile
                                thead
                                    tr
                                        th DEPART
                                        th ARRIVE
                                tbody
                                    tbody
                                        tr
                                            td(colspan=2)
                                                .schedulesInfo.mb15
                                                    .flTimes
                                                        p
                                                            span.text16.medium.colorBlack85 06:50 am
                                                        svg.svg1point5(width='19', height='8', viewBox='0 0 19 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M19 4L15 0V3H0V5H15V8L19 4Z', fill='black', fill-opacity='0.85')
                                                        p
                                                            span.text16.medium.colorBlack85 12:20 pm
                                                    .flCode
                                                        svg.svg1point5(width='24', height='19', viewBox='0 0 24 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M24 9.66457C23.8961 10.3295 23.8338 11.0152 23.6883 11.6802C22.8364 15.3789 19.7403 18.2464 15.9792 18.8282C11.6156 19.4931 7.5013 17.2074 5.77662 13.1347C5.67273 12.8853 5.56883 12.7815 5.25714 12.823C4.50909 12.9477 3.74026 13.0516 2.97143 13.1139C2.7013 13.1347 2.41039 13.0931 2.14026 13.01C1.53766 12.8022 0.976623 12.5529 0.394805 12.2828C0.249351 12.2204 0.124675 12.0957 0 11.9918C0.0207792 11.9711 0.0207792 11.9295 0.0415584 11.9087C0.768831 12.1165 1.47532 12.3243 2.2026 12.5113C2.36883 12.5529 2.55584 12.5737 2.72208 12.5529C5.83896 11.9503 8.93507 11.3269 12.0519 10.7035C12.1143 10.6828 12.1558 10.662 12.3221 10.6204C11.8857 10.3711 11.5117 10.2048 11.2 9.97626C10.7221 9.62301 10.2442 9.60223 9.66234 9.76847C8.18701 10.1841 6.69091 10.5373 5.15325 10.9113C5.11169 10.6412 5.04935 10.3918 5.02857 10.1425C4.92468 8.48015 5.21558 6.92171 5.9013 5.40483C6.04675 5.09314 6.21299 5.19704 6.4 5.28015C9.28831 6.50613 12.1766 7.71132 15.0649 8.9373C15.626 9.18665 16.2078 9.56067 16.7896 9.60223C17.3714 9.64379 17.9532 9.35288 18.5558 9.18665C20.1766 8.77106 21.8182 8.3347 23.439 7.91911C23.5429 7.89834 23.6468 7.87756 23.7922 7.85678C23.8545 8.35548 23.9169 8.81262 23.9792 9.26976C24 9.41522 24 9.53989 24 9.66457Z', fill='#662F8E')
                                                            path(d='M23.6054 7.1087C22.5248 6.7139 21.5067 6.92169 20.4677 7.2126C19.2002 7.56585 17.9326 7.89831 16.6651 8.23078C16.4781 8.27234 16.2495 8.27234 16.0625 8.21C13.4236 7.23338 10.7638 6.23598 8.12485 5.25935C7.79238 5.13468 7.41836 5.09312 7.04433 5.05156C6.7742 5.01 6.48329 5.05156 6.19238 5.05156C7.48069 2.24637 10.9716 -0.267919 15.0443 0.0229896C19.221 0.313899 23.1482 3.57624 23.6054 7.1087Z', fill='#662F8E')
                                                        p
                                                            span.text12.colorBlack85 K6 - 3835 - 321
                                                .flStops.mb15
                                                    p.text16.colorBlack85.medium 1 Stop
                                                    p.text14.colorBlack55 (SGN)
                                                button.viewMore(type='button')
                                                    span View Status
                                                    i.fas.fa-caret-right
                                                .statusShow.mt15
                                                    .flText
                                                        p.medium.text16.colorBlack85 Flight #3835
                                                        p.medium.text16.colorBlack85
                                                            span.inline-block Hanoi (HAN)
                                                            svg.svg1point5.inline-block.mrl15(width='19', height='8', viewBox='0 0 19 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M19 4L15 0V3H0V5H15V8L19 4Z', fill='black', fill-opacity='0.35')
                                                            span.inline-block Bangkok (BKK)
                                                        p.text14.medium.colorBlack55.mt5 Flight status is not avaiable for selected criteria
                                        tr
                                            td(colspan=2)
                                                .schedulesInfo.mb15
                                                    .flTimes
                                                        p
                                                            span.text16.medium.colorBlack85 06:50 am
                                                        svg.svg1point5(width='19', height='8', viewBox='0 0 19 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M19 4L15 0V3H0V5H15V8L19 4Z', fill='black', fill-opacity='0.85')
                                                        p
                                                            span.text16.medium.colorBlack85 12:20 pm
                                                    .flCode
                                                        svg.svg1point5(width='24', height='19', viewBox='0 0 24 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M24 9.66457C23.8961 10.3295 23.8338 11.0152 23.6883 11.6802C22.8364 15.3789 19.7403 18.2464 15.9792 18.8282C11.6156 19.4931 7.5013 17.2074 5.77662 13.1347C5.67273 12.8853 5.56883 12.7815 5.25714 12.823C4.50909 12.9477 3.74026 13.0516 2.97143 13.1139C2.7013 13.1347 2.41039 13.0931 2.14026 13.01C1.53766 12.8022 0.976623 12.5529 0.394805 12.2828C0.249351 12.2204 0.124675 12.0957 0 11.9918C0.0207792 11.9711 0.0207792 11.9295 0.0415584 11.9087C0.768831 12.1165 1.47532 12.3243 2.2026 12.5113C2.36883 12.5529 2.55584 12.5737 2.72208 12.5529C5.83896 11.9503 8.93507 11.3269 12.0519 10.7035C12.1143 10.6828 12.1558 10.662 12.3221 10.6204C11.8857 10.3711 11.5117 10.2048 11.2 9.97626C10.7221 9.62301 10.2442 9.60223 9.66234 9.76847C8.18701 10.1841 6.69091 10.5373 5.15325 10.9113C5.11169 10.6412 5.04935 10.3918 5.02857 10.1425C4.92468 8.48015 5.21558 6.92171 5.9013 5.40483C6.04675 5.09314 6.21299 5.19704 6.4 5.28015C9.28831 6.50613 12.1766 7.71132 15.0649 8.9373C15.626 9.18665 16.2078 9.56067 16.7896 9.60223C17.3714 9.64379 17.9532 9.35288 18.5558 9.18665C20.1766 8.77106 21.8182 8.3347 23.439 7.91911C23.5429 7.89834 23.6468 7.87756 23.7922 7.85678C23.8545 8.35548 23.9169 8.81262 23.9792 9.26976C24 9.41522 24 9.53989 24 9.66457Z', fill='#662F8E')
                                                            path(d='M23.6054 7.1087C22.5248 6.7139 21.5067 6.92169 20.4677 7.2126C19.2002 7.56585 17.9326 7.89831 16.6651 8.23078C16.4781 8.27234 16.2495 8.27234 16.0625 8.21C13.4236 7.23338 10.7638 6.23598 8.12485 5.25935C7.79238 5.13468 7.41836 5.09312 7.04433 5.05156C6.7742 5.01 6.48329 5.05156 6.19238 5.05156C7.48069 2.24637 10.9716 -0.267919 15.0443 0.0229896C19.221 0.313899 23.1482 3.57624 23.6054 7.1087Z', fill='#662F8E')
                                                        p
                                                            span.text12.colorBlack85 K6 - 3835 - 321
                                                .flStops.mb15
                                                    p.text16.colorBlack85.medium Non Stop
                                                button.viewMore(type='button')
                                                    span View Status
                                                    i.fas.fa-caret-right
                                                .statusShow.mt15
                                                    .nonStop
                                                        .nonStop__item
                                                            .nonStop__label
                                                                svg.svg1(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                    path(d='M6.99967 0.333008C6.1242 0.333008 5.25729 0.505446 4.44845 0.840478C3.63961 1.17551 2.90469 1.66657 2.28563 2.28563C1.03539 3.53587 0.333008 5.23156 0.333008 6.99967C0.333008 8.76779 1.03539 10.4635 2.28563 11.7137C2.90469 12.3328 3.63961 12.8238 4.44845 13.1589C5.25729 13.4939 6.1242 13.6663 6.99967 13.6663C8.76779 13.6663 10.4635 12.964 11.7137 11.7137C12.964 10.4635 13.6663 8.76779 13.6663 6.99967C13.6663 6.1242 13.4939 5.25729 13.1589 4.44845C12.8238 3.63961 12.3328 2.90469 11.7137 2.28563C11.0947 1.66657 10.3597 1.17551 9.5509 0.840478C8.74206 0.505446 7.87515 0.333008 6.99967 0.333008ZM9.79967 9.79967L6.33301 7.66634V3.66634H7.33301V7.13301L10.333 8.93301L9.79967 9.79967Z', fill='white')
                                                                span ON TIME
                                                            p.text16.medium.colorBlack85.mb15 Depart
                                                            p.text14.colorBlack55.mb5 Scheduled
                                                            p.text16.medium.colorBlack85.mb5 06:50 am
                                                            p.text14.colorBlack55.mb5 Terminal / Gate
                                                            p.text16.medium.colorBlack85.mb5 - / 1
                                                        .nonStop__item
                                                            .nonStop__label
                                                                svg.svg1(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                    path(d='M6.99967 0.333008C6.1242 0.333008 5.25729 0.505446 4.44845 0.840478C3.63961 1.17551 2.90469 1.66657 2.28563 2.28563C1.03539 3.53587 0.333008 5.23156 0.333008 6.99967C0.333008 8.76779 1.03539 10.4635 2.28563 11.7137C2.90469 12.3328 3.63961 12.8238 4.44845 13.1589C5.25729 13.4939 6.1242 13.6663 6.99967 13.6663C8.76779 13.6663 10.4635 12.964 11.7137 11.7137C12.964 10.4635 13.6663 8.76779 13.6663 6.99967C13.6663 6.1242 13.4939 5.25729 13.1589 4.44845C12.8238 3.63961 12.3328 2.90469 11.7137 2.28563C11.0947 1.66657 10.3597 1.17551 9.5509 0.840478C8.74206 0.505446 7.87515 0.333008 6.99967 0.333008ZM9.79967 9.79967L6.33301 7.66634V3.66634H7.33301V7.13301L10.333 8.93301L9.79967 9.79967Z', fill='white')
                                                                span ON TIME
                                                            p.text16.medium.colorBlack85.mb15 Arrive
                                                            p.text14.colorBlack55.mb5 Scheduled
                                                            p.text16.medium.colorBlack85.mb5 12:20 pm
                                                            p.text14.colorBlack55.mb5 Terminal / Gate
                                                            p.text16.medium.colorBlack85.mb5 - / 1
            #statusModal.modal.fade
                .modal-dialog.modal-status
                    .modal-content
                        .modal-body
                            button.close(type='button', data-dismiss='modal')
                                svg.svg1point5(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z', fill='black', fill-opacity='0.55')

                            .modal-status__cont
                                h2.mb30 VIEW OR EDIT FLIGHT STATUS
                                .searchBox__form
                                    .form-group.w25
                                        label Origin
                                        .inputSvg
                                            input.form-control.form-control-lg(type='text' placeholder='Choose Origin')
                                            svg.svg1point5(width='22', height='18', viewBox='0 0 22 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M1.49984 15.9998H20.4998V17.9998H1.49984V15.9998ZM21.0698 6.63982C20.8598 5.83982 20.0298 5.35982 19.2298 5.57982L13.9198 6.99982L6.99984 0.569824L5.08984 1.07982L9.22984 8.24982L4.25984 9.57982L2.28984 8.03982L0.839844 8.42982L2.65984 11.5898L3.42984 12.9198L5.02984 12.4998L10.3398 11.0698L14.6898 9.90982L19.9998 8.49982C20.8098 8.25982 21.2798 7.43983 21.0698 6.63982Z', fill='black', fill-opacity='0.25')
                                        include jades/suggestPlace
                                    button.btnRound(type='button')
                                        svg.svg1point5(width='22', height='16', viewBox='0 0 22 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M18 4L14 8H17C17 9.5913 16.3679 11.1174 15.2426 12.2426C14.1174 13.3679 12.5913 14 11 14C10 14 9.03 13.75 8.2 13.3L6.74 14.76C7.97 15.54 9.43 16 11 16C13.1217 16 15.1566 15.1571 16.6569 13.6569C18.1571 12.1566 19 10.1217 19 8H22L18 4ZM5 8C5 6.4087 5.63214 4.88258 6.75736 3.75736C7.88258 2.63214 9.4087 2 11 2C12 2 12.97 2.25 13.8 2.7L15.26 1.24C14.03 0.46 12.57 0 11 0C8.87827 0 6.84344 0.842855 5.34315 2.34315C3.84285 3.84344 3 5.87827 3 8H0L4 12L8 8', fill='black', fill-opacity='0.45')

                                    .form-group.w25
                                        label Destination
                                        .inputSvg
                                            input.form-control.form-control-lg(type='text' placeholder='Choose Destination')
                                            svg.svg1point5(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M0.5 17H19.5V19H0.5V17ZM7.68 11.27L12.03 12.43L17.34 13.85C18.14 14.06 18.96 13.59 19.18 12.79C19.39 12 18.92 11.17 18.12 10.95L12.81 9.53L10.05 0.5L8.12 0V8.28L3.15 6.95L2.22 4.63L0.77 4.24V9.41L2.37 9.84L7.68 11.27Z', fill='black', fill-opacity='0.25')
                                        include jades/suggestPlace
                                    .form-group.w25
                                        label Depart
                                        button.btn.btn-orange.btn-lg.w-100(type='button')
                                            span Today Apr 20
                                    .form-group.w25
                                        button.btn.btn-outline.btn-lg.w-100(type='button')
                                            span Tomorrow Apr 21
                                    .searchBox__btn
                                        a.btn.btn-orange-1.btn-lg(href='flightStatus_route.html') FIND FLIGHTS
        include jades/footer
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/slick.min.js')


        script.
            $('.camNavbar__toggle').click(function () {
                $('.camNavbar__main').addClass('open');
            });

            $('.camNavbar__close, .camNavbar__backdrop').click(function () {
                $('.camNavbar__main').removeClass('open');
            });
            if (screen.width < 768) {
                $('.camNavbar__link').click(function () {
                    $(this).next('.camNavbar__sub').slideToggle(200);
                    $(this).parent('li').toggleClass('active');
                });
            };
            if (screen.width < 768) {
                $('.footer__top').css('background-image', 'url("images/footer-bg-mobile.jpg")')
            };
        script.
            // searchBox
            $(".inputSvg .form-control").click(function () {
                $(this).parents('.form-group').find('.suggestPlace').addClass('open');
            });
            $(document).mouseup(function (e) {
                var suggestPlace = $('.suggestPlace');
                if (!suggestPlace.is(e.target) && suggestPlace.has(e.target).length === 0) {
                    $('.suggestPlace').removeClass('open');
                }
                ;
            });
        script.
            $('.viewMore').click(function () {
                var statusShow = $(this).parents('tr').find('.statusShow');
                if(statusShow.hasClass('show')){
                    statusShow.removeClass('show');
                    $(this).html('<span>View Status</span>' + '<i class="fas fa-caret-right"></i>');
                } else {
                    statusShow.addClass('show');
                    $(this).html('<span>Hide Status</span>' + '<i class="fas fa-caret-down"></i>');
                }

            });



