- var page = "index";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header

        main.wrapper
            section.flightReview
                .flightHeader
                    .container
                        .flightHeader__left
                            .flightStep
                                .flightStep__item.step1.visited
                                    .flightStep__numb 1
                                    .flightStep__text Select Flight
                                .flightStep__item.step2.visited
                                    .flightStep__numb 2
                                    .flightStep__text Passenger
                                .flightStep__item.step3.active
                                    .flightStep__numb 3
                                    .flightStep__text Review
                                .flightStep__item.step4
                                    .flightStep__numb 4
                                    .flightStep__text Payment
                            .flightStepMobile 03. Review
                        .flightHeader__right
                            button.btn.btn-orange-1(type='button' data-toggle="modal" data-target="#searchModal") EDIT SEARCH

                .flightSelect
                    .container
                        .flightSelect__item
                            .flightSelect__text
                                svg.svg1(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M6 19L8 19L13 11L18.5 11C18.8978 11 19.2794 10.842 19.5607 10.5607C19.842 10.2794 20 9.89782 20 9.5C20 9.10218 19.842 8.72064 19.5607 8.43934C19.2794 8.15804 18.8978 8 18.5 8L13 8L8 -5.24537e-07L6 -6.11959e-07L8.5 8L3 8L1.5 6L-2.62268e-07 6L1 9.5L-5.68248e-07 13L1.5 13L3 11L8.5 11L6 19Z', fill='black', fill-opacity='0.55')
                                .d-flex
                                    .d-block
                                        p.text12.colorBlack55 Wed, 15 Jan 2020
                                        p.text14.colorBlack85 15:35 HAN
                                    .d-icon
                                        i.fas.fa-long-arrow-alt-right
                                    .d-block
                                        p.text12.colorBlack55 Wed, 15 Jan 2020
                                        p.text14.colorBlack85 17:40 HKT
                        .flightSelect__item
                            .flightSelect__text
                                svg.svg1(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M14 -6.11959e-07L12 -5.24537e-07L7 8L1.5 8C1.10217 8 0.720644 8.15804 0.439339 8.43934C0.158035 8.72064 -4.32648e-07 9.10218 -4.15258e-07 9.5C-3.97869e-07 9.89782 0.158035 10.2794 0.43934 10.5607C0.720644 10.842 1.10217 11 1.5 11L7 11L12 19L14 19L11.5 11L17 11L18.5 13L20 13L19 9.5L20 6L18.5 6L17 8L11.5 8L14 -6.11959e-07Z', fill='black', fill-opacity='0.55')
                                .d-flex
                                    .d-block
                                        p.text12.colorBlack55 Wed, 15 Jan 2020
                                        p.text14.colorBlack85 15:35 HAN
                                    .d-icon
                                        i.fas.fa-long-arrow-alt-right
                                    .d-block
                                        p.text12.colorBlack55 Wed, 15 Jan 2020
                                        p.text14.colorBlack85 17:40 HKT
                        .flightSelect__item
                            .orderCode
                                .orderCode__label.confirm
                                    span Order code:&nbsp;
                                    span.medium G-46f76a
                                .orderCode__label.pending
                                    span Order code:&nbsp;
                                    span.medium G-46f76a
                                .orderCode__label.cancel
                                    span Order code:&nbsp;
                                    span.medium G-46f76a
                                .orderCode__text The order number is for your reference only, NOT for check-in and boarding!
                .flightReview__main
                    .container
                        .flightReview__group
                            .formBox
                                .formBox__header
                                    svg.svg1(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M10 0C11.3132 0 12.6136 0.258658 13.8268 0.761205C15.0401 1.26375 16.1425 2.00035 17.0711 2.92893C17.9997 3.85752 18.7362 4.95991 19.2388 6.17317C19.7413 7.38642 20 8.68678 20 10C20 12.6522 18.9464 15.1957 17.0711 17.0711C15.1957 18.9464 12.6522 20 10 20C8.68678 20 7.38642 19.7413 6.17317 19.2388C4.95991 18.7362 3.85752 17.9997 2.92893 17.0711C1.05357 15.1957 0 12.6522 0 10C0 7.34784 1.05357 4.8043 2.92893 2.92893C4.8043 1.05357 7.34784 0 10 0ZM10 2C7.87827 2 5.84344 2.84285 4.34315 4.34315C2.84285 5.84344 2 7.87827 2 10C2 12.1217 2.84285 14.1566 4.34315 15.6569C5.84344 17.1571 7.87827 18 10 18C12.1217 18 14.1566 17.1571 15.6569 15.6569C17.1571 14.1566 18 12.1217 18 10C18 7.87827 17.1571 5.84344 15.6569 4.34315C14.1566 2.84285 12.1217 2 10 2ZM9 15V14H7V12H11V11H8C7.73478 11 7.48043 10.8946 7.29289 10.7071C7.10536 10.5196 7 10.2652 7 10V7C7 6.73478 7.10536 6.48043 7.29289 6.29289C7.48043 6.10536 7.73478 6 8 6H9V5H11V6H13V8H9V9H12C12.2652 9 12.5196 9.10536 12.7071 9.29289C12.8946 9.48043 13 9.73478 13 10V13C13 13.2652 12.8946 13.5196 12.7071 13.7071C12.5196 13.8946 12.2652 14 12 14H11V15H9Z', fill='#F79320')

                                    p.text14.colorOrange.medium Price
                                .formBox__body
                                    .formBox__item
                                        .formBox__price
                                            .formBox__flex
                                                .formBox__left
                                                    .formBox__price__total
                                                        .d-block
                                                            p.text16.medium.colorBlack85 TOTAL
                                                            p.text12.colorBlack55 The price is total price for all travelers (including taxes, fees & charges)
                                                        .d-block
                                                            p.text16.colorOrange.medium USD 666.88
                                                    .formBox__price__cost
                                                        .d-flex.mb5
                                                            p.text14.colorBlack85 Fares
                                                            p.text14.colorBlack85 USD 664.66

                                                        .d-flex.mb5
                                                            p.text14.colorBlack85 Taxes, Fees and Charges
                                                            p.text14.colorBlack85 USD 2.22
                                                .formBox__right
                                                    .formBox__price__detail
                                                        .d-flex
                                                            p.text16.medium.colorBlack85 PRICE DETAILS
                                                            p.text16.medium.colorBlack85 USD 666.88
                                                        .d-flex
                                                            button.btnDetail.text14.colorOrange(type='button')
                                                                i.fas.fa-caret-down
                                                                span.ml5 1 Adult
                                                            p.text14.colorOrange USD 666.88
                                                        ul.formBox__sub.costBox
                                                            li
                                                                p.text12.medium.colorBlack85 Air Transportation Charges
                                                            li
                                                                p.text12.colorBlack85 Base Fare
                                                                p.text12.colorBlack85 USD 166.00


                                                            li
                                                                p.text12.colorBlack85 Service Charges
                                                                p.text12.colorBlack85 USD 166.00


                                                            li
                                                                p.text12.colorBlack85.medium Taxes & Fees
                                                                p.text12.colorBlack85.medium USD 66.88


                                                            li
                                                                p.text12.colorBlack85.medium Total per Adult
                                                                p.text12.colorBlack85.medium USD 66.88


                                                            li
                                                                p.text12.colorBlack85.medium x 1 Adult
                                                                p.text12.colorBlack85.medium USD 66.88


                            .formBox
                                .formBox__header
                                    svg.svg1(width='19', height='20', viewBox='0 0 19 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M19 14V12L11 7V1.5C11 1.10218 10.842 0.720644 10.5607 0.43934C10.2794 0.158035 9.89782 0 9.5 0C9.10218 0 8.72064 0.158035 8.43934 0.43934C8.15804 0.720644 8 1.10218 8 1.5V7L0 12V14L8 11.5V17L6 18.5V20L9.5 19L13 20V18.5L11 17V11.5L19 14Z', fill='#F79320')

                                    p.text14.colorOrange.medium Itinerary
                                .formBox__body
                                    .formBox__item
                                        .formBox__itinerary
                                            .formBox__itinerary__item
                                                .formBox__flex
                                                    .formBox__left
                                                        p.d-flex.mb5
                                                            svg.svg1(width='22', height='18', viewBox='0 0 22 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M1.49984 16H20.4998V18H1.49984V16ZM21.0698 6.64001C20.8598 5.84001 20.0298 5.36001 19.2298 5.58001L13.9198 7.00001L6.99984 0.570007L5.08984 1.08001L9.22984 8.25001L4.25984 9.58001L2.28984 8.04001L0.839844 8.43001L2.65984 11.59L3.42984 12.92L5.02984 12.5L10.3398 11.07L14.6898 9.91001L19.9998 8.50001C20.8098 8.26001 21.2798 7.44001 21.0698 6.64001Z', fill='black', fill-opacity='0.85')
                                                            span.ml10.text16.medium.colorBlack85 Hanoi (HAN) - Bangkok (BKK)
                                                        p.text14.colorBlack85 Wednesday, 15 January 2020
                                                        ul.formBox__itinerary__trip
                                                            li
                                                                p.text16.medium.colorBlack85 15:35 Hanoi
                                                                p.text14.colorBlack85 Noi Bai International (HAN)
                                                            li
                                                                p.text12.colorGreen Non-Stop
                                                            li
                                                                p.text16.medium.colorBlack85 17:40 Bangkok
                                                                p.text14.colorBlack85 Suvarnabhumi International Airport (BKK)
                                                        button.viewMore(type='button' data-toggle="modal" data-target="#flightDetailModal")
                                                            span Flight details
                                                    .formBox__right
                                                        ul.formBox__sub
                                                            li
                                                                p.text14.colorBlack85.medium Duration
                                                                p.text14.colorBlack85 02h05m



                                                            li
                                                                p.text14.colorBlack85.medium Airline
                                                                p.text14.colorBlack85 Cambodia Air



                                                            li
                                                                p.text14.colorBlack85.medium Aircralt
                                                                p.text14.colorBlack85 K6 - 3835 - 321
                                                            li
                                                                p.text14.colorBlack85.medium Cabin
                                                                p.text14.colorOrange Economy



                                                            li
                                                                p.text14.colorBlack85.medium Class
                                                                p.text14.colorBlack85 W



                                                        .d-flex.mt15
                                                            p.text14.colorBlack85.mr15 Total Duration
                                                            p.text14.medium
                                                                span.colorOrange 02h05m,
                                                                span.colorGreen &nbsp;Non-Stop
                                            .formBox__itinerary__item
                                                .formBox__flex
                                                    .formBox__left
                                                        p.d-flex.mb5
                                                            svg.svg1(width='22', height='18', viewBox='0 0 22 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M1.49984 16H20.4998V18H1.49984V16ZM21.0698 6.64001C20.8598 5.84001 20.0298 5.36001 19.2298 5.58001L13.9198 7.00001L6.99984 0.570007L5.08984 1.08001L9.22984 8.25001L4.25984 9.58001L2.28984 8.04001L0.839844 8.43001L2.65984 11.59L3.42984 12.92L5.02984 12.5L10.3398 11.07L14.6898 9.91001L19.9998 8.50001C20.8098 8.26001 21.2798 7.44001 21.0698 6.64001Z', fill='black', fill-opacity='0.85')
                                                            span.ml10.text16.medium.colorBlack85 Bangkok (BKK) - Hanoi (HAN)
                                                        p.text14.colorBlack85 Wednesday, 15 January 2020
                                                        ul.formBox__itinerary__trip
                                                            li
                                                                p.text16.medium.colorBlack85 17:40 Bangkok
                                                                p.text14.colorBlack85 Suvarnabhumi International Airport (BKK)
                                                            li
                                                                p.text12.colorBlack55 1 Stop(s) Tan Son Nhat International (SGN)
                                                            li
                                                                p.text16.medium.colorBlack85 15:35 Hanoi
                                                                p.text14.colorBlack85 Noi Bai International (HAN)
                                                        button.viewMore(type='button' data-toggle="modal" data-target="#flightDetailModal")
                                                            span Flight details
                                                    .formBox__right
                                                        ul.formBox__sub
                                                            li
                                                                p.text14.colorBlack85.medium Duration
                                                                p.text14.colorBlack85 02h05m



                                                            li
                                                                p.text14.colorBlack85.medium Airline
                                                                p.text14.colorBlack85 Cambodia Air



                                                            li
                                                                p.text14.colorBlack85.medium Aircralt
                                                                p.text14.colorBlack85 K6 - 3835 - 321
                                                            li
                                                                p.text14.colorBlack85.medium Cabin
                                                                p.text14.colorOrange Economy



                                                            li
                                                                p.text14.colorBlack85.medium Class
                                                                p.text14.colorBlack85 W



                                                        .d-flex.mt15
                                                            p.text14.colorBlack85.mr15 Total Duration
                                                            p.text14.medium
                                                                span.colorOrange 02h05m,
                                                                span.colorOrange &nbsp;Non-Stop
                            .formBox
                                .formBox__header
                                    svg.svg1(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M8 0C9.06087 0 10.0783 0.421427 10.8284 1.17157C11.5786 1.92172 12 2.93913 12 4C12 5.06087 11.5786 6.07828 10.8284 6.82843C10.0783 7.57857 9.06087 8 8 8C6.93913 8 5.92172 7.57857 5.17157 6.82843C4.42143 6.07828 4 5.06087 4 4C4 2.93913 4.42143 1.92172 5.17157 1.17157C5.92172 0.421427 6.93913 0 8 0ZM8 10C12.42 10 16 11.79 16 14V16H0V14C0 11.79 3.58 10 8 10Z', fill='#F79320')
                                    p.text14.colorOrange.medium 2 Traveler/s
                                .formBox__body
                                    .formBox__item
                                        .formBox__traveler
                                            .formBox__traveler__item
                                                .formBox__flex
                                                    .formBox__left
                                                        .d-flex
                                                            svg.svg1(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M8 0C9.06087 0 10.0783 0.421427 10.8284 1.17157C11.5786 1.92172 12 2.93913 12 4C12 5.06087 11.5786 6.07828 10.8284 6.82843C10.0783 7.57857 9.06087 8 8 8C6.93913 8 5.92172 7.57857 5.17157 6.82843C4.42143 6.07828 4 5.06087 4 4C4 2.93913 4.42143 1.92172 5.17157 1.17157C5.92172 0.421427 6.93913 0 8 0ZM8 10C12.42 10 16 11.79 16 14V16H0V14C0 11.79 3.58 10 8 10Z', fill='black', fill-opacity='0.85')
                                                            p.ml10.text16.colorBlack85.medium Adult 1
                                                    .formBox__right
                                                        ul.formBox__sub
                                                            li
                                                                p.text14.colorBlack85.medium Full Name
                                                                p.text14.colorBlack85 Mr. Pham Duc Quang




                                                            li
                                                                p.text14.colorBlack85.medium Date of Birth
                                                                p.text14.colorBlack85 26 Apr 1991




                                                            li
                                                                p.text14.colorBlack85.medium Passport
                                                                p.text14.colorBlack85 B1234567




                                                            li
                                                                p.text14.colorBlack85.medium Nationality
                                                                p.text14.colorBlack85 Vietnamese




                                                            li
                                                                p.text14.colorBlack85.medium Date of Issued
                                                                p.text14.colorBlack85 12 May 2018




                                                            li
                                                                p.text14.colorBlack85.medium Date of Expired
                                                                p.text14.colorBlack85 12 May 2028




                                            .formBox__traveler__item
                                                .formBox__flex
                                                    .formBox__left
                                                        .d-flex
                                                            svg.svg1(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M8 0C9.06087 0 10.0783 0.421427 10.8284 1.17157C11.5786 1.92172 12 2.93913 12 4C12 5.06087 11.5786 6.07828 10.8284 6.82843C10.0783 7.57857 9.06087 8 8 8C6.93913 8 5.92172 7.57857 5.17157 6.82843C4.42143 6.07828 4 5.06087 4 4C4 2.93913 4.42143 1.92172 5.17157 1.17157C5.92172 0.421427 6.93913 0 8 0ZM8 10C12.42 10 16 11.79 16 14V16H0V14C0 11.79 3.58 10 8 10Z', fill='black', fill-opacity='0.85')
                                                            p.ml10.text16.colorBlack85.medium Adult 2
                                                    .formBox__right
                                                        ul.formBox__sub
                                                            li
                                                                p.text14.colorBlack85.medium Full Name
                                                                p.text14.colorBlack85 Mr. Pham Duc Quang
                                                            li
                                                                p.text14.colorBlack85.medium Date of Birth
                                                                p.text14.colorBlack85 26 Apr 1991
                                                            li
                                                                p.text14.colorBlack85.medium Passport
                                                                p.text14.colorBlack85 B1234567
                                                            li
                                                                p.text14.colorBlack85.medium Nationality
                                                                p.text14.colorBlack85 Vietnamese
                                                            li
                                                                p.text14.colorBlack85.medium Date of Issued
                                                                p.text14.colorBlack85 12 May 2018
                                                            li
                                                                p.text14.colorBlack85.medium Date of Expired
                                                                p.text14.colorBlack85 12 May 2028
                            .formBox
                                .formBox__header
                                    svg.svg1(width='24', height='18', viewBox='0 0 24 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M21 5V4L18 6L15 4V5L18 7L21 5ZM22 0H2C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2L0 16C0 16.5304 0.210714 17.0391 0.585786 17.4142C0.960859 17.7893 1.46957 18 2 18H22C22.5304 18 23.0391 17.7893 23.4142 17.4142C23.7893 17.0391 24 16.5304 24 16V2C24 1.46957 23.7893 0.960859 23.4142 0.585786C23.0391 0.210714 22.5304 0 22 0ZM8 3C8.79565 3 9.55871 3.31607 10.1213 3.87868C10.6839 4.44129 11 5.20435 11 6C11 6.79565 10.6839 7.55871 10.1213 8.12132C9.55871 8.68393 8.79565 9 8 9C7.20435 9 6.44129 8.68393 5.87868 8.12132C5.31607 7.55871 5 6.79565 5 6C5 5.20435 5.31607 4.44129 5.87868 3.87868C6.44129 3.31607 7.20435 3 8 3ZM14 15H2V14C2 12 6 10.9 8 10.9C10 10.9 14 12 14 14V15ZM22 9H14V3H22', fill='#F79320')

                                    p.text14.colorOrange.medium Contact
                                .formBox__body
                                    .formBox__item
                                        .formBox__contact
                                            .formBox__flex
                                                .formBox__left
                                                    .formBox__contact__line
                                                        .d-block
                                                            .d-flex
                                                                svg.svg1(width='18', height='18', viewBox='0 0 18 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                    path(d='M3.62 7.79C5.06 10.62 7.38 12.94 10.21 14.38L12.41 12.18C12.69 11.9 13.08 11.82 13.43 11.93C14.55 12.3 15.75 12.5 17 12.5C17.2652 12.5 17.5196 12.6054 17.7071 12.7929C17.8946 12.9804 18 13.2348 18 13.5V17C18 17.2652 17.8946 17.5196 17.7071 17.7071C17.5196 17.8946 17.2652 18 17 18C12.4913 18 8.1673 16.2089 4.97918 13.0208C1.79107 9.8327 0 5.50868 0 1C0 0.734784 0.105357 0.48043 0.292893 0.292893C0.48043 0.105357 0.734784 0 1 0H4.5C4.76522 0 5.01957 0.105357 5.20711 0.292893C5.39464 0.48043 5.5 0.734784 5.5 1C5.5 2.25 5.7 3.45 6.07 4.57C6.18 4.92 6.1 5.31 5.82 5.59L3.62 7.79Z', fill='black', fill-opacity='0.85')
                                                                p.ml10.text16.colorBlack85.medium Phone
                                                        .d-block
                                                            p.text14.colorBlack85 (+ 84) 363 888 888
                                                .formBox__right
                                                    .formBox__contact__line
                                                        .d-block
                                                            .d-flex
                                                                svg.svg1(width='20', height='16', viewBox='0 0 20 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                    path(d='M18 4L10 9L2 4V2L10 7L18 2V4ZM18 0H2C0.89 0 0 0.89 0 2V14C0 14.5304 0.210714 15.0391 0.585786 15.4142C0.960859 15.7893 1.46957 16 2 16H18C18.5304 16 19.0391 15.7893 19.4142 15.4142C19.7893 15.0391 20 14.5304 20 14V2C20 0.89 19.1 0 18 0Z', fill='black', fill-opacity='0.85')

                                                                p.ml10.text16.colorBlack85.medium Email
                                                        .d-block
                                                            p.text14.colorBlack85 phuongbui@gmail.com
                            .formBox
                                .formBox__header
                                    svg.svg1(width='20', height='16', viewBox='0 0 20 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M18 4H2V2H18V4ZM18 14H2V8H18V14ZM18 0H2C0.89 0 0 0.89 0 2V14C0 14.5304 0.210714 15.0391 0.585786 15.4142C0.960859 15.7893 1.46957 16 2 16H18C18.5304 16 19.0391 15.7893 19.4142 15.4142C19.7893 15.0391 20 14.5304 20 14V2C20 0.89 19.1 0 18 0Z', fill='#F79320')

                                    p.text14.colorOrange.medium Payment
                                .formBox__body
                                    .formBox__item
                                        .formBox__payment
                                            .formBox__payment__item
                                                .radio
                                                    input#fl11(type='radio', name='fl' checked='')
                                                    label(for='fl11') Pay by Credit/Debit Cards
                                                ul.formBox__payment__card
                                                    li
                                                        img(src='images/jcb.png')
                                                    li
                                                        img(src='images/visa.png')
                                                    li
                                                        img(src='images/mastercard.png')
                                                    li
                                                        img(src='images/card-dinner.png')
                                            .formBox__payment__item
                                                .radio
                                                    input#fl22(type='radio', name='fl')
                                                    label(for='fl22') Pay later
                            .formBox
                                .formBox__header
                                    svg.svg1(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M20.6362 16.053H0.63623V18.053H20.6362V16.053ZM2.63623 12.053C2.63623 12.553 2.83623 13.053 3.23623 13.453C3.63623 13.853 4.13623 14.053 4.63623 14.053V3.05298C4.13623 3.05298 3.63623 3.25298 3.23623 3.65298C2.83623 4.05298 2.63623 4.55298 2.63623 5.05298V12.053ZM12.1362 3.05298H9.13623C9.13623 2.65298 9.23623 2.25298 9.53623 1.95298C9.83623 1.65298 10.1362 1.55298 10.6362 1.55298C11.0362 1.55298 11.4362 1.65298 11.7362 1.95298C11.9362 2.25298 12.1362 2.65298 12.1362 3.05298ZM5.63623 3.05298V14.053H15.6362V3.05298H13.6362C13.6362 2.25298 13.3362 1.55298 12.7362 0.952979C12.1362 0.352979 11.4362 0.0529785 10.6362 0.0529785C9.83623 0.0529785 9.13623 0.352979 8.53623 0.952979C7.93623 1.55298 7.63623 2.25298 7.63623 3.05298H5.63623ZM16.6362 14.053C17.1362 14.053 17.6362 13.853 18.0362 13.453C18.4362 13.053 18.6362 12.553 18.6362 12.053V5.05298C18.6362 4.55298 18.4362 4.05298 18.0362 3.65298C17.6362 3.25298 17.1362 3.05298 16.6362 3.05298V14.053Z', fill='#F79320')

                                    p.text14.colorOrange.medium Baggage
                                .formBox__body
                                    .formBox__item
                                        .formBox__baggage
                                            .formBox__baggage__item
                                                .formBox__flex
                                                    .formBox__left
                                                        .d-block
                                                            p.text16.colorBlack85.medium.mb5 Traveler 1 (Adult)
                                                            p.text14.colorBlack85.medium Hanoi (HAN) - Bangkok (BKK)
                                                    .formBox__right
                                                        .d-block
                                                            p.text14.colorBlack85.medium.mb5
                                                                span CARRY-ON BAGGAGE:&nbsp;
                                                                span INCLUDED
                                                            p.text14.colorBlack85.mb5 Carry10kg 22lbupto 45li 115lcm

                                                        .d-block
                                                            p.text14.colorBlack85.medium.mb5
                                                                span CHECKED BAGGAGE:&nbsp;
                                                                span.colorRed NOT INCLUDED
                                                            p.text14.colorBlack85.mb5 Carry10kg 22lbupto 45li 115lcm
                                            .formBox__baggage__item
                                                .formBox__flex
                                                    .formBox__left
                                                        .d-block
                                                            p.text14.colorBlack85.medium Bangkok (BKK) - Hanoi (HAN)
                                                    .formBox__right
                                                        .d-block
                                                            p.text14.colorBlack85.medium.mb5
                                                                span CARRY-ON BAGGAGE:&nbsp;
                                                                span INCLUDED
                                                            p.text14.colorBlack85.mb5 Carry10kg 22lbupto 45li 115lcm

                                                        .d-block
                                                            p.text14.colorBlack85.medium.mb5
                                                                span CHECKED BAGGAGE:&nbsp;
                                                                span INCLUDED
                                                            p.text14.colorBlack85.mb5 Carry10kg 22lbupto 45li 115lcm
                                            .formBox__baggage__text
                                                p.text12.medium.colorBlack85 Baggage allowance and charges are applied for the whole trip.
                                                p.text12.colorBlack55 Baggage allowance and fees are provided for information only.
                                                p.text12.colorBlack55 Additional allowance may apply depending on the traveler's individual passenger status (e.g. Saga Club membership)

                            .formBox
                                .formBox__header
                                    svg.svg1(width='18', height='21', viewBox='0 0 18 21', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M2 0C0.89 0 0 0.89 0 2V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H6V18.09L8.09 16H2V14H10.09L12.09 12H2V10H14.09L16 8.09V6L10 0H2ZM9 1.5L14.5 7H9V1.5ZM16.15 11C16 11 15.86 11.05 15.75 11.16L14.73 12.18L16.82 14.26L17.84 13.25C18.05 13.03 18.05 12.67 17.84 12.46L16.54 11.16C16.43 11.05 16.29 11 16.15 11ZM14.14 12.77L8 18.92V21H10.08L16.23 14.85L14.14 12.77Z', fill='#F79320')

                                    p.text14.colorOrange.medium Term of Use
                                .formBox__body
                                    .formBox__item
                                        .formBox__term
                                            p.title Term of Use
                                            p Conditions of website use
                                            p By accessing and using our website for any purpose of searching, referencing or booking, you acknowledge that you’re fully understanding and accepting, as well as agreeing not to violate our Terms and Conditions.
                                            p We recommend you to read the following terms and conditions carefully before purchasing our products. If you object to any of it please leave this website immediately.
                                            p Please also be noted that Cambodia reserves the rights to cancel or terminate any booking if it’s in such case:
                                            ul
                                                li (i) required by law.
                                                li (ii) payment is not made in time.
                                                li (iii) ticket availability issues.
                                                li (iv) system errors or any technical problems that may cause us in processing customer’s request.


                                            p Conditions of website use
                                            p By accessing and using our website for any purpose of searching, referencing or booking, you acknowledge that you’re fully understanding and accepting, as well as agreeing not to violate our Terms and Conditions.
                                            p We recommend you to read the following terms and conditions carefully before purchasing our products. If you object to any of it please leave this website immediately.
                                            p Please also be noted that Cambodia reserves the rights to cancel or terminate any booking if it’s in such case:
                                            ul
                                                li (i) required by law.
                                                li (ii) payment is not made in time.
                                                li (iii) ticket availability issues.
                                                li (iv) system errors or any technical problems that may cause us in processing customer’s request.


                        .flightReview__checkbox
                            .checkbox
                                input#pp13(type='checkbox')
                                label(for='pp13')
                                    | I have read and agree to all the&nbsp;
                                    a.aLink(href='termsOfUse.html') Term of Use
                                    | &nbsp;specified.
                        .flightReview__btn
                            .btnDesktop
                                a.btn.btn-orange-1(href='flightPayment.html') Continue
                            .btnMobile
                                .orderCode
                                    .orderCode__label.confirm
                                        span Order code:&nbsp;
                                        span.medium G-46f76a
                                    .orderCode__label.pending
                                        span Order code:&nbsp;
                                        span.medium G-46f76a
                                    .orderCode__label.cancel
                                        span Order code:&nbsp;
                                        span.medium G-46f76a
                                    .orderCode__text The order number is for your reference only, NOT for check-in and boarding!
                                a.btn.btn-orange-1(href='flightPayment.html')
                                    span CONTINUE
        #searchModal.modal.fade
            .modal-dialog.modal-search
                .modal-content
                    .modal-body
                        button.close(type='button', data-dismiss='modal')
                            svg.svg1point5(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z', fill='black', fill-opacity='0.55')
                        .modal-search__cont
                            h2.mb30 MODIFY YOUR SEARCH
                            .searchBox__trip
                                .searchBox__radio
                                    .radio
                                        input#fl1(type='radio', name='fl' checked='')
                                        label(for='fl1') Round Trip
                                    .radio
                                        input#fl2(type='radio', name='fl')
                                        label(for='fl2') One Way

                                    .radio
                                        input#fl3(type='radio', name='fl')
                                        label(for='fl3') Multi - Cities
                                .noMulti
                                    .searchBox__form
                                        .form-group.w25
                                            label Origin
                                            .inputSvg
                                                input.form-control.form-control-lg(type='text' placeholder='Choose Origin')
                                                svg.svg1point5(width='22', height='18', viewBox='0 0 22 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M1.49984 15.9998H20.4998V17.9998H1.49984V15.9998ZM21.0698 6.63982C20.8598 5.83982 20.0298 5.35982 19.2298 5.57982L13.9198 6.99982L6.99984 0.569824L5.08984 1.07982L9.22984 8.24982L4.25984 9.57982L2.28984 8.03982L0.839844 8.42982L2.65984 11.5898L3.42984 12.9198L5.02984 12.4998L10.3398 11.0698L14.6898 9.90982L19.9998 8.49982C20.8098 8.25982 21.2798 7.43983 21.0698 6.63982Z', fill='black', fill-opacity='0.25')
                                            include jades/suggestPlace
                                        button.btnRound(type='button')
                                            svg.svg1point5(width='22', height='16', viewBox='0 0 22 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M18 4L14 8H17C17 9.5913 16.3679 11.1174 15.2426 12.2426C14.1174 13.3679 12.5913 14 11 14C10 14 9.03 13.75 8.2 13.3L6.74 14.76C7.97 15.54 9.43 16 11 16C13.1217 16 15.1566 15.1571 16.6569 13.6569C18.1571 12.1566 19 10.1217 19 8H22L18 4ZM5 8C5 6.4087 5.63214 4.88258 6.75736 3.75736C7.88258 2.63214 9.4087 2 11 2C12 2 12.97 2.25 13.8 2.7L15.26 1.24C14.03 0.46 12.57 0 11 0C8.87827 0 6.84344 0.842855 5.34315 2.34315C3.84285 3.84344 3 5.87827 3 8H0L4 12L8 8', fill='black', fill-opacity='0.45')

                                        .form-group.w25
                                            label Destination
                                            .inputSvg
                                                input.form-control.form-control-lg(type='text' placeholder='Choose Destination')
                                                svg.svg1point5(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M0.5 17H19.5V19H0.5V17ZM7.68 11.27L12.03 12.43L17.34 13.85C18.14 14.06 18.96 13.59 19.18 12.79C19.39 12 18.92 11.17 18.12 10.95L12.81 9.53L10.05 0.5L8.12 0V8.28L3.15 6.95L2.22 4.63L0.77 4.24V9.41L2.37 9.84L7.68 11.27Z', fill='black', fill-opacity='0.25')

                                            .suggestPlace.suggestPlace_little
                                                .suggestPlace__group
                                                    .suggestPlace__col
                                                        ul.suggestPlace__item
                                                            li.liTitle Thailand
                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                        ul.suggestPlace__item
                                                            li.liTitle Thailand
                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                    .suggestPlace__col
                                                        ul.suggestPlace__item
                                                            li.liTitle Thailand
                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                        ul.suggestPlace__item
                                                            li.liTitle Thailand
                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                        ul.suggestPlace__item
                                                            li.liTitle Thailand
                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                    .suggestPlace__col
                                                        ul.suggestPlace__item
                                                            li.liTitle Thailand
                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                        ul.suggestPlace__item
                                                            li.liTitle Thailand
                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                        ul.suggestPlace__item
                                                            li.liTitle Thailand
                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                    .suggestPlace__col
                                                        ul.suggestPlace__item
                                                            li.liTitle Thailand
                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                        ul.suggestPlace__item
                                                            li.liTitle Thailand
                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                        ul.suggestPlace__item
                                                            li.liTitle Thailand
                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                    .suggestPlace__col
                                                        ul.suggestPlace__item
                                                            li.liTitle Thailand
                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                        ul.suggestPlace__item
                                                            li.liTitle Thailand
                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                                            li
                                                                a(href='#') Bangkok (BKK)

                                        .t-datepicker
                                            .t-datepicker__item
                                                label Depart
                                                .t-check-in
                                            .t-datepicker__item#return
                                                label Return
                                                .t-check-out
                                        .form-group.w19
                                            label
                                                | Adults&nbsp;
                                                i (>12 yrs)
                                            .dropdown
                                                button.dropdown-toggle.form-control.form-control-lg(type='button' data-toggle='dropdown')
                                                    svg.svg1point5(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M8 0C9.06087 0 10.0783 0.421427 10.8284 1.17157C11.5786 1.92172 12 2.93913 12 4C12 5.06087 11.5786 6.07828 10.8284 6.82843C10.0783 7.57857 9.06087 8 8 8C6.93913 8 5.92172 7.57857 5.17157 6.82843C4.42143 6.07828 4 5.06087 4 4C4 2.93913 4.42143 1.92172 5.17157 1.17157C5.92172 0.421427 6.93913 0 8 0ZM8 10C12.42 10 16 11.79 16 14V16H0V14C0 11.79 3.58 10 8 10Z', fill='black', fill-opacity='0.25')
                                                    span Adults
                                                .dropdown-menu
                                                    a.dropdown-item 1
                                                    a.dropdown-item 2
                                                    a.dropdown-item 3
                                                    a.dropdown-item 4
                                                    a.dropdown-item 5
                                        .form-group.w19
                                            label
                                                | Children&nbsp;
                                                i (2 - 12 yrs)
                                            .dropdown
                                                button.dropdown-toggle.form-control.form-control-lg(type='button' data-toggle='dropdown')
                                                    svg.svg1point5(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M8 0C9.06087 0 10.0783 0.421427 10.8284 1.17157C11.5786 1.92172 12 2.93913 12 4C12 5.06087 11.5786 6.07828 10.8284 6.82843C10.0783 7.57857 9.06087 8 8 8C6.93913 8 5.92172 7.57857 5.17157 6.82843C4.42143 6.07828 4 5.06087 4 4C4 2.93913 4.42143 1.92172 5.17157 1.17157C5.92172 0.421427 6.93913 0 8 0ZM8 10C12.42 10 16 11.79 16 14V16H0V14C0 11.79 3.58 10 8 10Z', fill='black', fill-opacity='0.25')
                                                    span Children
                                                .dropdown-menu
                                                    a.dropdown-item 1
                                                    a.dropdown-item 2
                                                    a.dropdown-item 3
                                                    a.dropdown-item 4
                                                    a.dropdown-item 5
                                        .form-group.w19
                                            label
                                                | Infants&nbsp;
                                                i (<2 yrs)
                                            .dropdown
                                                button.dropdown-toggle.form-control.form-control-lg(type='button' data-toggle='dropdown')
                                                    svg.svg1point5(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M8 0C9.06087 0 10.0783 0.421427 10.8284 1.17157C11.5786 1.92172 12 2.93913 12 4C12 5.06087 11.5786 6.07828 10.8284 6.82843C10.0783 7.57857 9.06087 8 8 8C6.93913 8 5.92172 7.57857 5.17157 6.82843C4.42143 6.07828 4 5.06087 4 4C4 2.93913 4.42143 1.92172 5.17157 1.17157C5.92172 0.421427 6.93913 0 8 0ZM8 10C12.42 10 16 11.79 16 14V16H0V14C0 11.79 3.58 10 8 10Z', fill='black', fill-opacity='0.25')
                                                    span Children
                                                .dropdown-menu
                                                    a.dropdown-item 1
                                                    a.dropdown-item 2
                                                    a.dropdown-item 3
                                                    a.dropdown-item 4
                                                    a.dropdown-item 5
                                        .form-group.w19.searchBox__promotion.show
                                            label Promotion code
                                            .inputSvg
                                                input.form-control.form-control-lg(type='text' placeholder='Code')
                                                svg.svg1point5(width='22', height='21', viewBox='0 0 22 21', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M8.06 0.930217C6.17 0.920217 4.33 2.74022 5.17 5.00022H2C1.46957 5.00022 0.960859 5.21093 0.585786 5.586C0.210714 5.96108 0 6.46978 0 7.00022V9.00022C0 9.26543 0.105357 9.51979 0.292893 9.70732C0.48043 9.89486 0.734784 10.0002 1 10.0002H10V7.00022H12V10.0002H21C21.2652 10.0002 21.5196 9.89486 21.7071 9.70732C21.8946 9.51979 22 9.26543 22 9.00022V7.00022C22 6.46978 21.7893 5.96108 21.4142 5.586C21.0391 5.21093 20.5304 5.00022 20 5.00022H16.83C18 1.73022 13.6 -0.579783 11.57 2.24022L11 3.00022L10.43 2.22022C9.8 1.33022 8.93 0.940217 8.06 0.930217ZM8 3.00022C8.89 3.00022 9.34 4.08022 8.71 4.71022C8.08 5.34022 7 4.89022 7 4.00022C7 3.735 7.10536 3.48065 7.29289 3.29311C7.48043 3.10557 7.73478 3.00022 8 3.00022ZM14 3.00022C14.89 3.00022 15.34 4.08022 14.71 4.71022C14.08 5.34022 13 4.89022 13 4.00022C13 3.735 13.1054 3.48065 13.2929 3.29311C13.4804 3.10557 13.7348 3.00022 14 3.00022ZM1 11.0002V19.0002C1 19.5307 1.21071 20.0394 1.58579 20.4144C1.96086 20.7895 2.46957 21.0002 3 21.0002H19C19.5304 21.0002 20.0391 20.7895 20.4142 20.4144C20.7893 20.0394 21 19.5307 21 19.0002V11.0002H12V19.0002H10V11.0002H1Z', fill='black', fill-opacity='0.25')
                                        .searchBox__btn
                                            a.btn.btn-orange-1.btn-lg(href='flightList.html') FIND FLIGHTS
                                .multi.hidden
                                    .searchBox__form
                                        .form-group.w25
                                            label Origin
                                            .inputSvg
                                                input.form-control.form-control-lg(type='text' placeholder='Choose Origin')
                                                svg.svg1point5(width='22', height='18', viewBox='0 0 22 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M1.49984 15.9998H20.4998V17.9998H1.49984V15.9998ZM21.0698 6.63982C20.8598 5.83982 20.0298 5.35982 19.2298 5.57982L13.9198 6.99982L6.99984 0.569824L5.08984 1.07982L9.22984 8.24982L4.25984 9.57982L2.28984 8.03982L0.839844 8.42982L2.65984 11.5898L3.42984 12.9198L5.02984 12.4998L10.3398 11.0698L14.6898 9.90982L19.9998 8.49982C20.8098 8.25982 21.2798 7.43983 21.0698 6.63982Z', fill='black', fill-opacity='0.25')
                                            include jades/suggestPlace
                                        button.btnRound(type='button')
                                            svg.svg1point5(width='22', height='16', viewBox='0 0 22 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M18 4L14 8H17C17 9.5913 16.3679 11.1174 15.2426 12.2426C14.1174 13.3679 12.5913 14 11 14C10 14 9.03 13.75 8.2 13.3L6.74 14.76C7.97 15.54 9.43 16 11 16C13.1217 16 15.1566 15.1571 16.6569 13.6569C18.1571 12.1566 19 10.1217 19 8H22L18 4ZM5 8C5 6.4087 5.63214 4.88258 6.75736 3.75736C7.88258 2.63214 9.4087 2 11 2C12 2 12.97 2.25 13.8 2.7L15.26 1.24C14.03 0.46 12.57 0 11 0C8.87827 0 6.84344 0.842855 5.34315 2.34315C3.84285 3.84344 3 5.87827 3 8H0L4 12L8 8', fill='black', fill-opacity='0.45')

                                        .form-group.w25
                                            label Destination
                                            .inputSvg
                                                input.form-control.form-control-lg(type='text' placeholder='Choose Destination')
                                                svg.svg1point5(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M0.5 17H19.5V19H0.5V17ZM7.68 11.27L12.03 12.43L17.34 13.85C18.14 14.06 18.96 13.59 19.18 12.79C19.39 12 18.92 11.17 18.12 10.95L12.81 9.53L10.05 0.5L8.12 0V8.28L3.15 6.95L2.22 4.63L0.77 4.24V9.41L2.37 9.84L7.68 11.27Z', fill='black', fill-opacity='0.25')
                                            include jades/suggestPlace
                                        .t-datepicker.w25
                                            .t-datepicker__item.w100
                                                label Depart
                                                .t-check-in
                                    .searchBox__form.selected
                                        .form-group.w25
                                            label Origin
                                            .inputSvg
                                                input.form-control.form-control-lg(type='text' value='Hanoi')
                                                svg.svg1point5(width='22', height='18', viewBox='0 0 22 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M1.49984 15.9998H20.4998V17.9998H1.49984V15.9998ZM21.0698 6.63982C20.8598 5.83982 20.0298 5.35982 19.2298 5.57982L13.9198 6.99982L6.99984 0.569824L5.08984 1.07982L9.22984 8.24982L4.25984 9.57982L2.28984 8.03982L0.839844 8.42982L2.65984 11.5898L3.42984 12.9198L5.02984 12.4998L10.3398 11.0698L14.6898 9.90982L19.9998 8.49982C20.8098 8.25982 21.2798 7.43983 21.0698 6.63982Z', fill='black', fill-opacity='0.25')
                                        button.btnRound(type='button')
                                            svg.svg1point5(width='22', height='16', viewBox='0 0 22 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M18 4L14 8H17C17 9.5913 16.3679 11.1174 15.2426 12.2426C14.1174 13.3679 12.5913 14 11 14C10 14 9.03 13.75 8.2 13.3L6.74 14.76C7.97 15.54 9.43 16 11 16C13.1217 16 15.1566 15.1571 16.6569 13.6569C18.1571 12.1566 19 10.1217 19 8H22L18 4ZM5 8C5 6.4087 5.63214 4.88258 6.75736 3.75736C7.88258 2.63214 9.4087 2 11 2C12 2 12.97 2.25 13.8 2.7L15.26 1.24C14.03 0.46 12.57 0 11 0C8.87827 0 6.84344 0.842855 5.34315 2.34315C3.84285 3.84344 3 5.87827 3 8H0L4 12L8 8', fill='black', fill-opacity='0.45')

                                        .form-group.w25
                                            label Destination
                                            .inputSvg
                                                input.form-control.form-control-lg(type='text' value='Tp Ho Chi Minh')
                                                svg.svg1point5(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M0.5 17H19.5V19H0.5V17ZM7.68 11.27L12.03 12.43L17.34 13.85C18.14 14.06 18.96 13.59 19.18 12.79C19.39 12 18.92 11.17 18.12 10.95L12.81 9.53L10.05 0.5L8.12 0V8.28L3.15 6.95L2.22 4.63L0.77 4.24V9.41L2.37 9.84L7.68 11.27Z', fill='black', fill-opacity='0.25')
                                        .t-datepicker.w25
                                            .t-datepicker__item.w100
                                                label Depart
                                                .t-check-in
                                        .searchBox__remove
                                            button(type='button')
                                                svg.svg1point5(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z', fill='black', fill-opacity='0.25')
                                                span Remove Flight
                                    .searchBox__form.selected
                                        .form-group.w25
                                            label Origin
                                            .inputSvg
                                                input.form-control.form-control-lg(type='text' value='Hanoi')
                                                svg.svg1point5(width='22', height='18', viewBox='0 0 22 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M1.49984 15.9998H20.4998V17.9998H1.49984V15.9998ZM21.0698 6.63982C20.8598 5.83982 20.0298 5.35982 19.2298 5.57982L13.9198 6.99982L6.99984 0.569824L5.08984 1.07982L9.22984 8.24982L4.25984 9.57982L2.28984 8.03982L0.839844 8.42982L2.65984 11.5898L3.42984 12.9198L5.02984 12.4998L10.3398 11.0698L14.6898 9.90982L19.9998 8.49982C20.8098 8.25982 21.2798 7.43983 21.0698 6.63982Z', fill='black', fill-opacity='0.25')
                                        button.btnRound(type='button')
                                            svg.svg1point5(width='22', height='16', viewBox='0 0 22 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M18 4L14 8H17C17 9.5913 16.3679 11.1174 15.2426 12.2426C14.1174 13.3679 12.5913 14 11 14C10 14 9.03 13.75 8.2 13.3L6.74 14.76C7.97 15.54 9.43 16 11 16C13.1217 16 15.1566 15.1571 16.6569 13.6569C18.1571 12.1566 19 10.1217 19 8H22L18 4ZM5 8C5 6.4087 5.63214 4.88258 6.75736 3.75736C7.88258 2.63214 9.4087 2 11 2C12 2 12.97 2.25 13.8 2.7L15.26 1.24C14.03 0.46 12.57 0 11 0C8.87827 0 6.84344 0.842855 5.34315 2.34315C3.84285 3.84344 3 5.87827 3 8H0L4 12L8 8', fill='black', fill-opacity='0.45')

                                        .form-group.w25
                                            label Destination
                                            .inputSvg
                                                input.form-control.form-control-lg(type='text' value='Danang')
                                                svg.svg1point5(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M0.5 17H19.5V19H0.5V17ZM7.68 11.27L12.03 12.43L17.34 13.85C18.14 14.06 18.96 13.59 19.18 12.79C19.39 12 18.92 11.17 18.12 10.95L12.81 9.53L10.05 0.5L8.12 0V8.28L3.15 6.95L2.22 4.63L0.77 4.24V9.41L2.37 9.84L7.68 11.27Z', fill='black', fill-opacity='0.25')
                                        .t-datepicker.w25
                                            .t-datepicker__item.w100
                                                label Depart
                                                .t-check-in
                                        .searchBox__remove
                                            button(type='button')
                                                svg.svg1point5(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z', fill='black', fill-opacity='0.25')
                                                span Remove Flight
                                    button.searchBox__add(type='button')
                                        svg.svg1point5(width='18', height='18', viewBox='0 0 18 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M14 10H10V14H8V10H4V8H8V4H10V8H14V10ZM16 0H2C0.89 0 0 0.89 0 2V16C0 16.5304 0.210714 17.0391 0.585786 17.4142C0.960859 17.7893 1.46957 18 2 18H16C16.5304 18 17.0391 17.7893 17.4142 17.4142C17.7893 17.0391 18 16.5304 18 16V2C18 0.89 17.1 0 16 0Z', fill='#F79320')
                                        span ADD ANOTHER FLIGHT
                                    .searchBox__form
                                        .form-group.w19
                                            label
                                                | Adults&nbsp;
                                                i (>12 yrs)
                                            .dropdown
                                                button.dropdown-toggle.form-control.form-control-lg(type='button' data-toggle='dropdown')
                                                    svg.svg1point5(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M8 0C9.06087 0 10.0783 0.421427 10.8284 1.17157C11.5786 1.92172 12 2.93913 12 4C12 5.06087 11.5786 6.07828 10.8284 6.82843C10.0783 7.57857 9.06087 8 8 8C6.93913 8 5.92172 7.57857 5.17157 6.82843C4.42143 6.07828 4 5.06087 4 4C4 2.93913 4.42143 1.92172 5.17157 1.17157C5.92172 0.421427 6.93913 0 8 0ZM8 10C12.42 10 16 11.79 16 14V16H0V14C0 11.79 3.58 10 8 10Z', fill='black', fill-opacity='0.25')
                                                    span Adults
                                                .dropdown-menu
                                                    a.dropdown-item 1
                                                    a.dropdown-item 2
                                                    a.dropdown-item 3
                                                    a.dropdown-item 4
                                                    a.dropdown-item 5
                                        .form-group.w19
                                            label
                                                | Children&nbsp;
                                                i (2 - 12 yrs)
                                            .dropdown
                                                button.dropdown-toggle.form-control.form-control-lg(type='button' data-toggle='dropdown')
                                                    svg.svg1point5(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M8 0C9.06087 0 10.0783 0.421427 10.8284 1.17157C11.5786 1.92172 12 2.93913 12 4C12 5.06087 11.5786 6.07828 10.8284 6.82843C10.0783 7.57857 9.06087 8 8 8C6.93913 8 5.92172 7.57857 5.17157 6.82843C4.42143 6.07828 4 5.06087 4 4C4 2.93913 4.42143 1.92172 5.17157 1.17157C5.92172 0.421427 6.93913 0 8 0ZM8 10C12.42 10 16 11.79 16 14V16H0V14C0 11.79 3.58 10 8 10Z', fill='black', fill-opacity='0.25')
                                                    span Children
                                                .dropdown-menu
                                                    a.dropdown-item 1
                                                    a.dropdown-item 2
                                                    a.dropdown-item 3
                                                    a.dropdown-item 4
                                                    a.dropdown-item 5
                                        .form-group.w19
                                            label
                                                | Infants&nbsp;
                                                i (<2 yrs)
                                            .dropdown
                                                button.dropdown-toggle.form-control.form-control-lg(type='button' data-toggle='dropdown')
                                                    svg.svg1point5(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M8 0C9.06087 0 10.0783 0.421427 10.8284 1.17157C11.5786 1.92172 12 2.93913 12 4C12 5.06087 11.5786 6.07828 10.8284 6.82843C10.0783 7.57857 9.06087 8 8 8C6.93913 8 5.92172 7.57857 5.17157 6.82843C4.42143 6.07828 4 5.06087 4 4C4 2.93913 4.42143 1.92172 5.17157 1.17157C5.92172 0.421427 6.93913 0 8 0ZM8 10C12.42 10 16 11.79 16 14V16H0V14C0 11.79 3.58 10 8 10Z', fill='black', fill-opacity='0.25')
                                                    span Children
                                                .dropdown-menu
                                                    a.dropdown-item 1
                                                    a.dropdown-item 2
                                                    a.dropdown-item 3
                                                    a.dropdown-item 4
                                                    a.dropdown-item 5
                                        .form-group.w19.searchBox__promotion.show
                                            label Promotion code
                                            .inputSvg
                                                input.form-control.form-control-lg(type='text' placeholder='Code')
                                                svg.svg1point5(width='22', height='21', viewBox='0 0 22 21', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M8.06 0.930217C6.17 0.920217 4.33 2.74022 5.17 5.00022H2C1.46957 5.00022 0.960859 5.21093 0.585786 5.586C0.210714 5.96108 0 6.46978 0 7.00022V9.00022C0 9.26543 0.105357 9.51979 0.292893 9.70732C0.48043 9.89486 0.734784 10.0002 1 10.0002H10V7.00022H12V10.0002H21C21.2652 10.0002 21.5196 9.89486 21.7071 9.70732C21.8946 9.51979 22 9.26543 22 9.00022V7.00022C22 6.46978 21.7893 5.96108 21.4142 5.586C21.0391 5.21093 20.5304 5.00022 20 5.00022H16.83C18 1.73022 13.6 -0.579783 11.57 2.24022L11 3.00022L10.43 2.22022C9.8 1.33022 8.93 0.940217 8.06 0.930217ZM8 3.00022C8.89 3.00022 9.34 4.08022 8.71 4.71022C8.08 5.34022 7 4.89022 7 4.00022C7 3.735 7.10536 3.48065 7.29289 3.29311C7.48043 3.10557 7.73478 3.00022 8 3.00022ZM14 3.00022C14.89 3.00022 15.34 4.08022 14.71 4.71022C14.08 5.34022 13 4.89022 13 4.00022C13 3.735 13.1054 3.48065 13.2929 3.29311C13.4804 3.10557 13.7348 3.00022 14 3.00022ZM1 11.0002V19.0002C1 19.5307 1.21071 20.0394 1.58579 20.4144C1.96086 20.7895 2.46957 21.0002 3 21.0002H19C19.5304 21.0002 20.0391 20.7895 20.4142 20.4144C20.7893 20.0394 21 19.5307 21 19.0002V11.0002H12V19.0002H10V11.0002H1Z', fill='black', fill-opacity='0.25')
                                        .searchBox__btn
                                            a.btn.btn-orange-1.btn-lg(href='flightList.html') FIND FLIGHTS
        #flightDetailModal.modal.fade
            .modal-dialog.modal-flightDetail
                .modal-content
                    .modal-body
                        button.close(type='button', data-dismiss='modal')
                            svg.svg1point5(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z', fill='black', fill-opacity='0.55')
                        .modal-flightDetail__cont
                            h2.mb30 FLIGHT DETAILS
                            .modal-flightDetail__group
                                .d-flex
                                    p.text14.colorBlack85.mr15 Total Duration
                                    p.text14.medium
                                        span.colorOrange 02h05m,&nbsp;
                                        span.colorOrange 1 Stop
                                .modal-flightDetail__desktop
                                    .flTable__item
                                        .flTable__cell.cell-1
                                            .flTable__trip
                                                p.text20.medium
                                                    span.colorBlack85 15:35
                                                    span.colorBlack55 &nbsp;HAN
                                                p.text12.medium.colorBlack85 Hanoi, Vietnam
                                                p.text14.colorBlack65 Wed, 15 Jan
                                                p.text12.colorBlack65 Noibai
                                                p.text12.colorBlack65 Terminal 1
                                        .flTable__cell.cell-2
                                            .stopBox
                                                .stopBox__line
                                                    .stopBox__dot.colorBlack15
                                                        i.fas.fa-circle
                                                    .stopBox__plane
                                                        svg.svg1(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M6 19L8 19L13 11L18.5 11C18.8978 11 19.2794 10.842 19.5607 10.5607C19.842 10.2794 20 9.89782 20 9.5C20 9.10218 19.842 8.72064 19.5607 8.43934C19.2794 8.15804 18.8978 8 18.5 8L13 8L8 -5.24537e-07L6 -6.11959e-07L8.5 8L3 8L1.5 6L-2.62268e-07 6L1 9.5L-5.68248e-07 13L1.5 13L3 11L8.5 11L6 19Z', fill='black', fill-opacity='0.45')
                                                    .stopBox__dot.colorBlack15
                                                        i.fas.fa-circle
                                        .flTable__cell.cell-3
                                            .flTable__trip
                                                p.text20.medium
                                                    span.colorBlack85 17:40
                                                    span.colorBlack55 &nbsp;HKT
                                                p.text12.medium.colorBlack85 Phuket, Thailand
                                                p.text14.colorBlack65 Wed, 15 Jan
                                                p.text12.colorBlack65 Thailand
                                                p.text12.colorBlack65 Terminal 2
                                        .flTable__cell.cell-4
                                            .flTable__airline
                                                .d-flex
                                                    img(src='images/logo-vnairline.png')
                                                    p.text12
                                                        span.colorBlack85 VN 233
                                                        i.fas.fa-circle
                                                        span.colorBlack65 Airbus A321
                                        p.flTable__time
                                            i.fas.fa-clock
                                            span.text12.colorBlack.ml5 Layover time: 1hr 30mins

                                    .flTable__item
                                        .flTable__cell.cell-1
                                            .flTable__trip
                                                p.text20.medium
                                                    span.colorBlack85 15:35
                                                    span.colorBlack55 &nbsp;HAN
                                                p.text12.medium.colorBlack85 Hanoi, Vietnam
                                                p.text14.colorBlack65 Wed, 15 Jan
                                                p.text12.colorBlack65 Noibai
                                                p.text12.colorBlack65 Terminal 1
                                        .flTable__cell.cell-2
                                            .stopBox
                                                .stopBox__line
                                                    .stopBox__dot.colorBlack15
                                                        i.fas.fa-circle
                                                    .stopBox__plane
                                                        svg.svg1(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M6 19L8 19L13 11L18.5 11C18.8978 11 19.2794 10.842 19.5607 10.5607C19.842 10.2794 20 9.89782 20 9.5C20 9.10218 19.842 8.72064 19.5607 8.43934C19.2794 8.15804 18.8978 8 18.5 8L13 8L8 -5.24537e-07L6 -6.11959e-07L8.5 8L3 8L1.5 6L-2.62268e-07 6L1 9.5L-5.68248e-07 13L1.5 13L3 11L8.5 11L6 19Z', fill='black', fill-opacity='0.45')
                                                    .stopBox__dot.colorBlack15
                                                        i.fas.fa-circle
                                        .flTable__cell.cell-3
                                            .flTable__trip
                                                p.text20.medium
                                                    span.colorBlack85 17:40
                                                    span.colorBlack55 &nbsp;HKT
                                                p.text12.medium.colorBlack85 Phuket, Thailand
                                                p.text14.colorBlack65 Wed, 15 Jan
                                                p.text12.colorBlack65 Thailand
                                                p.text12.colorBlack65 Terminal 2
                                        .flTable__cell.cell-4
                                            .flTable__airline
                                                .d-flex
                                                    img(src='images/logo-vnairline.png')
                                                    p.text12
                                                        span.colorBlack85 VN 233
                                                        i.fas.fa-circle
                                                        span.colorBlack65 Airbus A321
                                        p.flTable__time
                                            i.fas.fa-clock
                                            span.text12.colorBlack.ml5 Layover time: 1hr 30mins
                                    .flTable__item
                                        .flTable__cell.cell-1
                                            .flTable__trip
                                                p.text20.medium
                                                    span.colorBlack85 15:35
                                                    span.colorBlack55 &nbsp;HAN
                                                p.text12.medium.colorBlack85 Hanoi, Vietnam
                                                p.text14.colorBlack65 Wed, 15 Jan
                                                p.text12.colorBlack65 Noibai
                                                p.text12.colorBlack65 Terminal 1
                                        .flTable__cell.cell-2
                                            .stopBox
                                                .stopBox__line
                                                    .stopBox__dot.colorBlack15
                                                        i.fas.fa-circle
                                                    .stopBox__plane
                                                        svg.svg1(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M6 19L8 19L13 11L18.5 11C18.8978 11 19.2794 10.842 19.5607 10.5607C19.842 10.2794 20 9.89782 20 9.5C20 9.10218 19.842 8.72064 19.5607 8.43934C19.2794 8.15804 18.8978 8 18.5 8L13 8L8 -5.24537e-07L6 -6.11959e-07L8.5 8L3 8L1.5 6L-2.62268e-07 6L1 9.5L-5.68248e-07 13L1.5 13L3 11L8.5 11L6 19Z', fill='black', fill-opacity='0.45')
                                                    .stopBox__dot.colorBlack15
                                                        i.fas.fa-circle
                                        .flTable__cell.cell-3
                                            .flTable__trip
                                                p.text20.medium
                                                    span.colorBlack85 17:40
                                                    span.colorBlack55 &nbsp;HKT
                                                p.text12.medium.colorBlack85 Phuket, Thailand
                                                p.text14.colorBlack65 Wed, 15 Jan
                                                p.text12.colorBlack65 Thailand
                                                p.text12.colorBlack65 Terminal 2
                                        .flTable__cell.cell-4
                                            .flTable__airline
                                                .d-flex
                                                    img(src='images/logo-vnairline.png')
                                                    p.text12
                                                        span.colorBlack85 VN 233
                                                        i.fas.fa-circle
                                                        span.colorBlack65 Airbus A321

                                .modal-flightDetail__mobile
                                    .flTableMobile__item
                                        .flTableMobile__row
                                            .flTable__trip
                                                p.text20.medium
                                                    span.colorBlack85 15:35
                                                    span.colorBlack55 &nbsp;HAN
                                                p.text12.medium.colorBlack85 Hanoi, Vietnam
                                                p.text14.colorBlack65 Wed, 15 Jan
                                                p.text12.colorBlack65 Noibai
                                                p.text12.colorBlack65 Terminal 1
                                            .stopBox
                                                .stopBox__line
                                                    .stopBox__dot
                                                    .stopBox__plane
                                                        svg.svg1(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M6 19L8 19L13 11L18.5 11C18.8978 11 19.2794 10.842 19.5607 10.5607C19.842 10.2794 20 9.89782 20 9.5C20 9.10218 19.842 8.72064 19.5607 8.43934C19.2794 8.15804 18.8978 8 18.5 8L13 8L8 -5.24537e-07L6 -6.11959e-07L8.5 8L3 8L1.5 6L-2.62268e-07 6L1 9.5L-5.68248e-07 13L1.5 13L3 11L8.5 11L6 19Z', fill='black', fill-opacity='0.45')
                                                    .stopBox__dot
                                            .flTable__trip
                                                p.text20.medium
                                                    span.colorBlack85 17:40
                                                    span.colorBlack55 &nbsp;HKT
                                                p.text12.medium.colorBlack85 Phuket, Thailand
                                                p.text14.colorBlack65 Wed, 15 Jan
                                                p.text12.colorBlack65 Thailand
                                                p.text12.colorBlack65 Terminal 2
                                        .flTable__airline
                                            .d-flex
                                                img(src='images/logo-vnairline.png')
                                                p.text12
                                                    span.colorBlack85 VN 233
                                                    i.fas.fa-circle
                                                    span.colorBlack65 Airbus A321
                                        .flTableMobile__time
                                            p.flTable__time
                                                i.fas.fa-clock
                                                span.text12.colorBlack.ml5 Layover time: 1hr 30mins
                                    .flTableMobile__item
                                        .flTableMobile__row
                                            .flTable__trip
                                                p.text20.medium
                                                    span.colorBlack85 15:35
                                                    span.colorBlack55 &nbsp;HAN
                                                p.text12.medium.colorBlack85 Hanoi, Vietnam
                                                p.text14.colorBlack65 Wed, 15 Jan
                                                p.text12.colorBlack65 Noibai
                                                p.text12.colorBlack65 Terminal 1
                                            .stopBox
                                                .stopBox__line
                                                    .stopBox__dot
                                                    .stopBox__plane
                                                        svg.svg1(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M6 19L8 19L13 11L18.5 11C18.8978 11 19.2794 10.842 19.5607 10.5607C19.842 10.2794 20 9.89782 20 9.5C20 9.10218 19.842 8.72064 19.5607 8.43934C19.2794 8.15804 18.8978 8 18.5 8L13 8L8 -5.24537e-07L6 -6.11959e-07L8.5 8L3 8L1.5 6L-2.62268e-07 6L1 9.5L-5.68248e-07 13L1.5 13L3 11L8.5 11L6 19Z', fill='black', fill-opacity='0.45')
                                                    .stopBox__dot
                                            .flTable__trip
                                                p.text20.medium
                                                    span.colorBlack85 17:40
                                                    span.colorBlack55 &nbsp;HKT
                                                p.text12.medium.colorBlack85 Phuket, Thailand
                                                p.text14.colorBlack65 Wed, 15 Jan
                                                p.text12.colorBlack65 Thailand
                                                p.text12.colorBlack65 Terminal 2
                                        .flTable__airline
                                            .d-flex
                                                img(src='images/logo-vnairline.png')
                                                p.text12
                                                    span.colorBlack85 VN 233
                                                    i.fas.fa-circle
                                                    span.colorBlack65 Airbus A321
                                        .flTableMobile__time
                                            p.flTable__time
                                                i.fas.fa-clock
                                                span.text12.colorBlack.ml5 Layover time: 1hr 30mins
                                    .flTableMobile__item
                                        .flTableMobile__row
                                            .flTable__trip
                                                p.text20.medium
                                                    span.colorBlack85 15:35
                                                    span.colorBlack55 &nbsp;HAN
                                                p.text12.medium.colorBlack85 Hanoi, Vietnam
                                                p.text14.colorBlack65 Wed, 15 Jan
                                                p.text12.colorBlack65 Noibai
                                                p.text12.colorBlack65 Terminal 1
                                            .stopBox
                                                .stopBox__line
                                                    .stopBox__dot
                                                    .stopBox__plane
                                                        svg.svg1(width='20', height='19', viewBox='0 0 20 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M6 19L8 19L13 11L18.5 11C18.8978 11 19.2794 10.842 19.5607 10.5607C19.842 10.2794 20 9.89782 20 9.5C20 9.10218 19.842 8.72064 19.5607 8.43934C19.2794 8.15804 18.8978 8 18.5 8L13 8L8 -5.24537e-07L6 -6.11959e-07L8.5 8L3 8L1.5 6L-2.62268e-07 6L1 9.5L-5.68248e-07 13L1.5 13L3 11L8.5 11L6 19Z', fill='black', fill-opacity='0.45')
                                                    .stopBox__dot
                                            .flTable__trip
                                                p.text20.medium
                                                    span.colorBlack85 17:40
                                                    span.colorBlack55 &nbsp;HKT
                                                p.text12.medium.colorBlack85 Phuket, Thailand
                                                p.text14.colorBlack65 Wed, 15 Jan
                                                p.text12.colorBlack65 Thailand
                                                p.text12.colorBlack65 Terminal 2
                                        .flTable__airline
                                            .d-flex
                                                img(src='images/logo-vnairline.png')
                                                p.text12
                                                    span.colorBlack85 VN 233
                                                    i.fas.fa-circle
                                                    span.colorBlack65 Airbus A321
        include jades/footer
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/slick.min.js')
        script(src='/js/t-datepicker.min.js')

        script.
            $('.camNavbar__toggle').click(function () {
                $('.camNavbar__main').addClass('open');
            });

            $('.camNavbar__close, .camNavbar__backdrop').click(function () {
                $('.camNavbar__main').removeClass('open');
            });
            if (screen.width < 768) {
                $('.camNavbar__link').click(function () {
                    $(this).next('.camNavbar__sub').slideToggle(200);
                    $(this).parent('li').toggleClass('active');
                });
            };
            if (screen.width < 768) {
                $('.footer__top').css('background-image', 'url("images/footer-bg-mobile.jpg")')
            };
        script.
            $('.t-datepicker').tDatePicker({
                autoClose: true,
                titleCheckIn: 'Depart',
                titleCheckOut: 'Return',
                titleDateRange: 'day',
                titleDateRanges: 'days',
                iconDate: '<i class="fas fa-calendar-alt"></i>',
                iconArrowTop: false
            });
        script.
            $('.btnDetail').click(function () {
                $(this).toggleClass('rotate');
                $(this).parents('.formBox__price__detail').find('.costBox').slideToggle(200);
            });





