- var page = "index1";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header

        main.wrapper
            section.home

        include jades/footer
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/slick.min.js')
        script(src='/js/t-datepicker.min.js')

        script.
            $('.t-datepicker').tDatePicker({
                autoClose: true,
                titleCheckIn: 'Depart',
                titleCheckOut: 'Return',
                titleDateRange: 'day',
                titleDateRanges: 'days',
                iconDate: '<i class="fas fa-calendar-alt"></i>',
                iconArrowTop: false
            });




