- var page = "index1";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header

        main.wrapper
            section.home
                .homeBanner(style='background-image: url(../images/homeBanner.jpg)')
                    .homeBanner__cont.colorWhite.textCenter
                        h2.mb5 Find and compare cheap flights!
                        p.mb0 Lorem Ipsum is simply dummy text of the printing and typesetting industry

        include jades/footer
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/slick.min.js')
        script(src='/js/t-datepicker.min.js')

        script.
            $('.t-datepicker').tDatePicker({
                autoClose: true,
                titleCheckIn: 'Depart',
                titleCheckOut: 'Return',
                titleDateRange: 'day',
                titleDateRanges: 'days',
                iconDate: '<i class="fas fa-calendar-alt"></i>',
                iconArrowTop: false
            });




