- var page = "index1";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header

        main.wrapper
            section.loadingBox(style='background-image: url("../images/loading-bg.jpg");')
                .loadingBox__cont
                    .loadingBox__dot
                        .loader12
                    .loadingBox__text Please wait, we are searching for you flights on selected dates
                .loadingBox__logo
                    .logo
                        a(href='index.html')
                            img(src='images/logo.png')

        include jades/footer
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='/js/bootstrap.min.js')
