- var page = "index1";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header
        main.wrapper
            section.privacyPolicy
                .homeBanner(style='background-image: url(images/banner/privacy-policy.jpg)')
                    .homeBanner__backdrop
                    .homeBanner__cont.colorWhite.textCenter
                        h2.mb5 Privacy policy
                        p.mb0 Lorem Ipsum is simply dummy text of the printing and typesetting industry
                .container
                    ul.tabInfo
                        li
                            a(href='aboutUs.html')
                                span About us
                        li
                            a(href='contactUs.html')
                                span Contact us
                        li
                            a(href='faq.html')
                                span FAQ
                        li.active
                            a(href='policy.html')
                                span Privacy policy
                        li
                            a(href='termsOfUse.html')
                                span Term of us

                .privacyPolicy__body
                    .container
                        .privacyPolicy__title
                            h3.semibold Privacy policy
                        .privacyPolicy__cont
                            p.colorBlack85.semibold Disclaimer
                            p.colorBlack85 Please be reminded that this website is an agency’s property and not the airlines’ official website. All information about flight time, flight titles, destinations is well updated according to the airlines’ notification, other information may differ from the airlines to follow our Regulations. If you do not feel happy with us or our conditions, kindly stop using our website and leave immediately. Once payment made, it implies that you’re totally agree with all of our information and conditions.
                            p.colorBlack85 Your use of our website is free of charge for searching or referencing. If you purchase our product, service fees should be collected. Your feedback/comments in regards to any incorrect information or improperly services by email, phone, fax is highly appreciated and much thanks.
                            p.colorBlack85.semibold Privacy Policy
                            p.colorBlack85 Passenger’s privacy is always our first and most important mission.
                            p.colorBlack85.semibold Information Provided
                            p.colorBlack85 Visitors: No personal information is needed if your use of our website for searching and referencing only.
                            p.colorBlack85 Purchasers: you’re required to provide below information (can be updated later by email or phone call):
                            p.colorBlack85 Full name as shown in passport (Middle and First name/Last name)
                            p.colorBlack85 Date of birth (can be updated later at check-in counter without any charge)
                            p.colorBlack85 Passport information (can be updated later at check-in counter without any charge)
                            p.colorBlack85 Personal email address (for e-ticket received) & phone number for urgent contact. Company email will have strict conditions, so you’re recommended to provide us your personal email address to ensure you can receive e-ticket/booking confirmation.
                            p.colorBlack85.semibold Information Using
                            p.colorBlack85 Your personal information shall be sent to the third party that performs services – in this case is Philippines Airlines. We will not share your information to anyone else unless:
                            p.colorBlack85     - Required by Laws
                            p.colorBlack85     - Investigating, preventing, or taking action regarding illegal activities
                            p.colorBlack85     - Identifying of fraud or error
                            p.colorBlack85     - Protecting our rights and safety
                            p.colorBlack85 The third party (Philippines Airlines) that we share the information take full responsibility to protect your personal information and must only use it for the purpose for which it was collected.
                            p.colorBlack85 In case you purchase our services for others, please ensure that they’re aware and fully understand our Privacy Policy, Terms & Conditions and allows you to disclose their information to us.
                            p.colorBlack85.semibold Modification
                            p.colorBlack85 We reserve the right to modify, change or update this Privacy Statement without prior notice. All passengers are recommended to visit and check out our Terms & Conditions regularly to keep yourself updated.
                            p.colorBlack85.semibold Copyright
                            p.colorBlack85 All information posted on this website is specially prepared for our business, which must not be copied, changed or modified by any individual or organization. Failing of this condition shall be involved to The Law.
                            p.colorBlack85 For any inquiry or better support, kindly email to booking@camdiaangkorailine.com
                            p.colorBlack85 Thank you & Have a nice trip!
        include jades/footer
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/slick.min.js')
        script(src='/js/t-datepicker.min.js')

        script.
            $('.t-datepicker').tDatePicker({
                autoClose: true,
                titleCheckIn: 'Depart',
                titleCheckOut: 'Return',
                titleDateRange: 'day',
                titleDateRanges: 'days',
                iconDate: '<i class="fas fa-calendar-alt"></i>',
                iconArrowTop: false
            });
        script.
            // header
            $(".header__toggle").click(function () {
                $('.navbarBox').addClass('open');
            });
            $(".navbarBox__close, .navbarBox__backdrop").click(function () {
                $('.navbarBox').removeClass('open');
            });
            if (screen.width < 768) {
                $('.navbarBox__list ul').slideUp(300);
                $(".navbarBox__title").click(function () {
                    $(this).toggleClass('active');
                    $(this).next('.navbarBox__list ul').slideToggle(300);
                });
            };





