- var page = "index1";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header
        main.wrapper
            section.termOfUse
                .homeBanner(style='background-image: url(images/banner/term-of-use.jpg)')
                    .homeBanner__backdrop
                    .homeBanner__cont.colorWhite.textCenter
                        h2.mb5 Term Of Use
                        p.mb0 Lorem Ipsum is simply dummy text of the printing and typesetting industry
                .container
                    ul.tabInfo
                        li
                            a(href='aboutUs.html')
                                span About us
                        li
                            a(href='contactUs.html')
                                span Contact us
                        li
                            a(href='faq.html')
                                span FAQ
                        li
                            a(href='privacyPolicy.html')
                                span Privacy policy
                        li.active
                            a(href='termOfUse.html')
                                span Term of us

                .termOfUse__body
                    .container
                        .termOfUse__title
                                h3.semibold Term Of Use
                        .termOfUse__cont
                            p.colorBlack85 Conditions of website use
                            p.colorBlack85 By accessing and using our website for any purpose of searching, referencing or booking, you acknowledge that you’re fully understanding and accepting, as well as agreeing not to violate our Terms and Conditions.
                            p.colorBlack85 You’re strongly recommended to read the following terms and conditions carefully before purchasing our products. If you do not agree to any of it please leave our website immediately.
                            p.colorBlack85 Please also be noted that we reserves the right to cancel or terminate any booking if it’s in such case: • (i) required by law. • (ii) payment is not made in time. • (iii) ticket availability issues. • (iv) system errors or any technical problems that may cause us in processing customer’s request.
                            p.colorBlack85 - Acting as a travel agency, ticketing fee should be collected per passenger on each flight and ticket price is not the same with other websites.
                            p.colorBlack85 - All information on this site is conducted and belongs to www.philippineairfare.com, which should not be used, copied, changed or modified by any individual or organization. Failing of this condition shall be involved to law.
                            p.colorBlack85 I. Baggage
                            p.colorBlack85 1. Free Baggage allowance
                            p.colorBlack85 The free of charge Baggage must be subject to the conditions and limitations of Philippines Airlines and Our Regulations and are detailed in our baggage page.
                            p.colorBlack85 2. Excess Baggage
                            p.colorBlack85 You will be required to pay a charge for carriage of Baggage in excess of the free Baggage allowance. The payment terms are shown in Our Regulations and may be founded in our baggage page.
                            p.colorBlack85 3. Items unacceptable as Baggage
                            p.colorBlack85 You must not include in your Baggage: money, jewelry, precious metals, silver ware, negotiable papers, securities, or other valuables (cameras, electronic devices), business documents, passports and other identification documents or samples in their check-in baggage.
                            p.colorBlack85 You must not bring dangerous goods such as: corrosives battery, gases/LPG/Camp Stove, flammable liquids paint, radioactive materials, infectious substances blood, lighters, matches, explosives, fireworks, organic peroxides bleach, firearms, stunning devices, sharp objects, worker’s tools, blunt instruments…
                            p.colorBlack85 4. Right to refuse carriage
                            p.colorBlack85 The airlines may refuse to carry as Baggage the items described in Article 3, and they may refuse further carriage of any such items upon discovery that it is included in your Baggage. Unless advance arrangements for its carriage have been made with us, we may carry on later flights Baggage, which is in excess of the applicable free allowance. The airlines may refuse to accept Baggage as Checked Baggage unless it is properly and securely packed in suitcases and suitable containers to ensure safe carriage with ordinary care in handling.
                            p.colorBlack85 For code-shared flights or connecting flights, the airlines shall not check through Baggage for other code-shared carriers where they do not have an interline agreement with them. Therefore, please check in advance with us or other carrier if they have an agreement with the Philippines Airlines to know if your baggage can be checked through. If there’s no agreement between both airlines, you are responsible for clearing your Baggage and having it checked-in and re-tagged for the next flight. In this case, the airlines are not liable for any Damage to you and to your Baggage. For further supports, kindly contact the carrier.
        include jades/footer
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/slick.min.js')
        script(src='/js/t-datepicker.min.js')

        script.
            $('.t-datepicker').tDatePicker({
                autoClose: true,
                titleCheckIn: 'Depart',
                titleCheckOut: 'Return',
                titleDateRange: 'day',
                titleDateRanges: 'days',
                iconDate: '<i class="fas fa-calendar-alt"></i>',
                iconArrowTop: false
            });
        script.
            // header
            $(".header__toggle").click(function () {
                $('.navbarBox').addClass('open');
            });
            $(".navbarBox__close, .navbarBox__backdrop").click(function () {
                $('.navbarBox').removeClass('open');
            });
            if (screen.width < 768) {
                $('.navbarBox__list ul').slideUp(300);
                $(".navbarBox__title").click(function () {
                    $(this).toggleClass('active');
                    $(this).next('.navbarBox__list ul').slideToggle(300);
                });
            };



