.flightList{
  &__main{
    @include breakpoint(xs){
      padding: 30px 0;
    }
    @include breakpoint(sm){
      padding: 3vw 0;
    }
  }
  &__item{
    @include breakpoint(xs){
      margin-bottom: 30px;
    }
    @include breakpoint(sm){
      margin-bottom: 3vw;
    }
  }
  &__btn{
    @include breakpoint(xs){
      background: #FFFFFF;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 50;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
    }
    @include breakpoint(sm){
      text-align: right;
    }
    .btn{
      @include breakpoint(sm){
        min-width: 10vw;
      }
    }
  }
  &__desktop{
    @include breakpoint(xs){
      display: none;
    }
  }
  &__mobile{
    @include breakpoint(sm){
      display: none;
    }
    .flightList__item{
      > h2{
        font-size: 30px;
      }
    }
  }
}
.flDate{
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 1vw;
  position: relative;
  &__slide{
    display: flex;
    padding: 0 2vw;
  }
  &__item{
    width: calc(100% / 7);
    padding: 1vw;
    text-align: center;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    &:hover{
      background-color: $orange;
      p{
        color: #fff;
      }
    }
    &:nth-child(n+8){
      display: none;
    }
    &.active{
      background-color: $orange;
      p{
        color: #fff;
        strong{
          font-weight: 500;
        }
      }
    }
    &.disabled{
      pointer-events: none;
      background-color: #eee;
      opacity: .5;
    }
  }
  .slick-prev{
    left: 0;
  }
  .slick-next{
    right: 0;
  }
  .slick-arrow{
    border: none;
  }
}

.lineInfo{
  @include breakpoint(xs){
    margin-bottom: 15px;
  }
  @include breakpoint(sm){
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vw;
  }
  &__left{
    @include breakpoint(sm){
      display: flex;
      align-items: center;
    }
  }
  &__trip{
    display: flex;
    align-items: center;
    @include breakpoint(xs){
      margin-bottom: 10px;
    }
    @include breakpoint(sm){
      margin-right: 1vw;
    }
    svg{
      margin: 0 15px;
      @include breakpoint(sm){
        margin: 0 1vw;
      }
    }
    p{
      @include breakpoint(xs){
        font-weight: 500;
      }
    }
  }
  &__date{
    display: flex;
    align-items: center;
    @include breakpoint(xs){
      margin-bottom: 10px;
    }
    &:before{
      content: '\f111';
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      font-size: 8px;
      color: rgba(0, 0, 0, 0.15);
      margin-right: 15px;
      @include breakpoint(sm){
        font-size: .5vw;
        margin-right: 1vw;
      }
    }
  }
  &__fare{
    display: flex;
    align-items: center;
    span{
      @include breakpoint(xs){
        margin-left: 8px;
      }
    }
  }
}
.flightResult{
  .flTable{
    &__ticket{
      width: 100%;
      color: #fff;
      cursor: auto;
      &:before{
        display: none;
      }
      &.ticket-economy{
        background-color: #502678;
      }
      &.ticket-business{
        background-color: #1D0C43;
      }
      .btn{
        min-width: 10vw;
      }
    }
  }
}
.modal-search{
  &__cont{
    padding: 30px 0;
    @include breakpoint(sm){
      padding: 2vw 0;
    }
    h2{
      text-align: center;
    }
  }
}
.sortFilterMobile{
  display: flex;
  margin: 0 -4px 15px;
  .dropdown{
    width: 50%;
    padding: 0 4px;
  }
  .dropdown-menu{
    min-width: calc(100% - 8px);
  }
  &__filter{
    .dropdown-toggle{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:after{
        display: none;
      }
    }
  }
}
.flDateMobile{
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 0px 0px;
  padding: 0 15px;
  margin-bottom: 10px;
  &__slide{
    padding: 10px 30px;
    position: relative;
    &__group{
      display: flex;
      .d-item{
        text-align: center;
        width: 33.333%;
        &.active{
          span{
            &:last-child{
              background-color: $orange;
              color: #fff;
              width: 24px;
              height: 24px;
              border-radius: 50%;
            }
          }
        }
        &.disabled{
          pointer-events: none;
          opacity: .5;
        }
        &:nth-child(n+4){
          display: none;
        }
        span{
          margin: 0 5px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .slick-arrow{
      border: none;
    }
  }
  &__btn{
    font-size: 12px;
    color: $black55;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    &.rotate{
      svg{
        transform: rotate(180deg);
      }
    }
  }
  &__main{
    display: none;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    .d-item{
      width: 33.333%;
      text-align: center;
      padding: 5px 10px;
      &.active{
        background-color: $orange;
        p{
          color: #fff;
          span{
            color: #fff;
          }
        }
      }
      span{
        margin: 0 3px;
      }
    }
  }
}
.flTableMobile{
  &__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__group{
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
  }
  &__main{
    padding: 10px;
  }
  &__item{
    padding: 15px 0;
  }
  &__time{
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  &__detail{
    display: none;
  }
  &__price{
    .btnPrice{
      background:rgba(242, 216, 248, 0.15);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;
      svg{
        transition: all .4s;
      }
      &.rotate{
        svg{
          transform: rotate(180deg);
        }
      }
    }
  }
  &__ticket{
    padding: 15px 10px 0;
    display: none;
    &__item{
      margin-bottom: 10px;
    }
    &__header{
      position: relative;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: #fff;
      font-weight: 500;
      &.header-1{
        background-color: #C087DB;
      }
      &.header-2{
        background-color: #9860B9;
      }
      &.header-3{
        background-color: #66338C;
      }
      &.header-4{
        background-color: #502678;
      }
      &.header-5{
        background-color: #3C1B65;
      }
      svg{
        position: absolute;
        top: 5px;
        left:5px;
      }
    }
    &__body{
      border: 1px solid rgba(0, 0, 0, 0.25);
      border-top: none;
      display: flex;
      justify-content: space-between;
      padding: 15px 10px;
      .btn{
        min-width: 96px;
      }
    }
  }
  &__fare{
    padding: 15px;
    border-top: 1px dashed rgba(0, 0, 0, 0.15);
    margin: 15px -10px 0;
    span{
      margin-left: 10px;
    }
  }
  &__selected{
    background-color: #502678;
    text-align: center;
    padding: 15px;
    .btn{
      min-width: 165px;
    }
  }
}
.sortBy{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1vw;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  margin-right: 1vw;
  ul{
    display: flex;
    align-items: center;
    margin-left: 1.5vw;
    li{
      +li{
        padding-left: 1vw;
      }
      &.active{
        .btn{
          background-color: $purple;
          color: #fff;
        }
      }
      .btn{
        font-weight: 400;
        &:hover{
          background-color: $purple;
          color: #fff;
          opacity: 1;
        }
      }
    }
  }
}
.sortFilter{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1vw;
  .dropdown-toggle{
    color: $purple;
    font-size: 1vw;
    svg{
      margin-right: 0;
      margin-left: .5vw;
      path{
        fill: $purple;
        fill-opacity: 1;
      }
    }
    &:after{
      display: none;
    }
  }
}