.flightReview{
  &__main{
    padding: 30px 0;
    @include breakpoint(sm){
      padding: 3vw 0;
    }
  }
}
.modal-flightDetail{
  @include breakpoint(sm){
    max-width: 50%;
  }
  &__cont{
    h2{
      text-align: center;
    }
  }
  &__desktop{
    @include breakpoint(xs){
      display: none;
    }
  }
  &__mobile{
    @include breakpoint(sm){
      display: none;
    }
  }
  &__group{
    .flTable{
      &__item{
        border-bottom: 1px solid rgba(0,0,0,.15);
        padding: 1vw 0;
        margin: 0 -1vw;
        &:last-child{
          border-bottom: none;
          padding-bottom: 0;
        }
      }
    }
  }
}