.flightSchedules{
  &__body{
    padding: 30px 0;
    @include breakpoint(sm){
      padding: 3vw 0;
    }
  }
  &__desktop{
    @include breakpoint(xs){
      display: none;
    }
  }
  &__mobile{
    @include breakpoint(sm){
      display: none;
    }
  }
}
.schedulesSelect{
  color: $purple;
  font-size: 14px;
  width: 100%;
  @include breakpoint(sm){
    font-size: 1vw;
  }
  p{
    margin-top: 5px;
    @include breakpoint(sm){
      margin-top: .5vw;
    }
  }
}
.modal-schedules{
  &__cont{
    padding: 30px 0;
    @include breakpoint(sm){
      padding: 2vw 0;
    }
    h2{
      text-align: center;
    }
  }
}