.flightCheap{

}
.cheapBox{
  padding-bottom: 30px;
  @include breakpoint(sm){
    padding-bottom: 4vw;
  }
  &__item{
    @include breakpoint(xs){
      margin-bottom: 15px;
      display: block;
    }
    @include breakpoint(sm){
      display: flex;
      margin-bottom: 2vw;
    }
  }
  &__left{
    @include breakpoint(sm){
      background-color: #fff;
      box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
      border-radius: .5vw .4vw .4vw .5vw;
      width: calc(100% - 12vw);
      padding: 2vw 1.5vw;
      border-right: 1px dashed rgba(0, 0, 0, 0.15);
    }
  }
  &__right{
    @include breakpoint(sm){
      background-color: #fff;
      box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
      border-radius: .4vw .5vw .5vw .4vw;
      width: 12vw;
      padding: 2vw 1.5vw;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-direction: column;
    }
  }
  &__logo{
    @include breakpoint(sm){
      margin-bottom: .5vw;
    }
    img{
      display: block;
      @include breakpoint(xs){
        width: 80px;
      }
      @include breakpoint(sm){
        width: 6vw;
      }
    }
  }
  &__way{
    font-size: 14px;
    color: $black55;
    @include breakpoint(sm){
      margin-bottom: 1vw;
      font-size: 1vw;
    }
  }
  &__price{
    @include breakpoint(xs){
      display: flex;
      align-items: center;
    }
    @include breakpoint(sm){
      text-align: right;
    }
    p{
      &.text14{
        @include breakpoint(xs){
          margin-right: 5px;
        }
      }
      &.text16{
        span{
          font-size: 80%;
          font-weight: 400;
        }
      }
    }
  }
  &__btn{
    @include breakpoint(sm){
      width: 100%;
    }
    .btn{
      @include breakpoint(sm){
        width: 100%;
      }
    }
  }
  &__top{
    @include breakpoint(xs){
      background: #FFFFFF;
      box-shadow: 0 -2px 8px rgba(0,0,0,.15);
      border-radius: 8px 8px 4px 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;
      border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
    }
  }
  &__bottom{
    @include breakpoint(xs){
      padding: 15px;
      background: #FFFFFF;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      border-radius: 4px 4px 8px 8px;
    }
  }
  &__desktop{
    @include breakpoint(xs){
      display: none;
    }
  }
  &__mobile{
    @include breakpoint(sm){
      display: none;
    }
  }
  .col-6{
    @include breakpoint(xs){
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
.cheapFaq{
  background: #fff;
  padding: 40px 0;
  @include breakpoint(sm){
    padding: 4vw 0;
  }
}
.cheapSchedules{
  padding: 40px 0;
  @include breakpoint(sm){
    padding: 4vw 0;
  }
  &__desktop{
    @include breakpoint(xs){
      display: none;
    }
  }
  &__logo{
    img{
      width: 60px;
      @include breakpoint(sm){
        width: 8vw;
      }
    }
  }
  &__numb{
    text-align: center;
    display: inline-block;
  }
  &__weekly{
    span{
      font-size: 1.1vw;
      color: $purple;
      font-weight: 500;
      padding: 0 .5vw;
    }
  }
  &__btn{
    width: 100%;
    .btn{
      width: 100%;
    }
  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    @include breakpoint(xs){
      padding: 15px;
      margin-bottom: 15px;
      &:first-child{
        margin-top: 10px;
      }
    }
  }
  &__info{
    text-align: center;
  }
}
.cheapOther{
  background-color: #fff;
  padding: 40px 0;
  @include breakpoint(sm){
    padding: 4vw 0;
  }
  &__item{
    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    overflow: hidden;
    margin-bottom: 15px;
    @include breakpoint(sm){
      margin-bottom: 2vw;
    }
  }
  &__img{
    width: 100px;
    @include breakpoint(sm){
      width: 10vw;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__cont{
    width: calc(100% - 100px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include breakpoint(sm){
      width: calc(100% - 10vw);
      padding: 1vw;
    }
  }
  &__price{
    text-align: right;
    span{
      font-weight: 400;
    }
  }
  .col-4{
    @include breakpoint(xs){
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}