.suggestDefault
    .suggestDefault__header
        h5 Choose Origin:
    .suggestDefault__body
        ul.suggestDefault__tab
            li.active
                button(type='button') việt nam
            li
                button(type='button') ĐÔNG DƯƠNG
            li
                button(type='button') ĐÔNG NAM Á
            li
                button(type='button') ĐÔNG BẮC Á
            li
                button(type='button') TÂY Á
            li
                button(type='button') HOA KỲ - CANADA
            li
                button(type='button') CHÂU ÚC
            li
                button(type='button') CHÂU PHI
        .suggestDefault__content
            ul.suggestDefault__list
                li
                    button(type='button') Hà Nội (HAN)
                li
                    button(type='button') Đà Nẵng (DAD)
                li
                    button(type='button') Điện Biên Phủ (DID)
                li
                    button(type='button') Hải Phòng (HPH)
                li
                    button(type='button') Thanh Hóa (THD)
                li
                    button(type='button') Vinh (VII)
                li
                    button(type='button') Quảng Bình (VDH)
                li
                    button(type='button') Quảng Nam (VCL)
                li
                    button(type='button') Huế (HUI)
                li
                    button(type='button') Phú Yên (TBB)


                li
                    button(type='button') Hà Nội (HAN)


                li
                    button(type='button') Hà Nội (HAN)


                li
                    button(type='button') Hà Nội (HAN)
                li
                    button(type='button') Phú Yên (TBB)
                li
                    button(type='button') Hà Nội (HAN)
                li
                    button(type='button') Hà Nội (HAN)
                li
                    button(type='button') Hà Nội (HAN)
                li
                    button(type='button') Hà Nội (HAN)
                li
                    button(type='button') Phú Yên (TBB)
                li
                    button(type='button') Hà Nội (HAN)
                li
                    button(type='button') Hà Nội (HAN)
                li
                    button(type='button') Hà Nội (HAN)

