.suggestPlace
    ul.suggestPlace__list
        li.liTitle Vietnam
        li
            button(type='button')
                span.span1 Ha noi
                span.span2 HAN
        li
            button(type='button')
                span.span1 Da Nang
                span.span2 DAN
        li
            button(type='button')
                span.span1 Hai Phong
                span.span2 HPH
        li
            button(type='button')
                span.span1 Tp Ho Chi Minh
                span.span2 SGP
    ul.suggestPlace__list
        li.liTitle North America
        li
            button(type='button')
                span.span1 Los Angeles
                span.span2 LAX
        li
            button(type='button')
                span.span1 New York
                span.span2 JFK
        li
            button(type='button')
                span.span1 Seatle
                span.span2 SEA
        li
            button(type='button')
                span.span1 San Fransico
                span.span2 SFO
    ul.suggestPlace__list
        li.liTitle South America
        li
            button(type='button')
                span.span1 Los Angeles
                span.span2 LAX
        li
            button(type='button')
                span.span1 New York
                span.span2 JFK
        li
            button(type='button')
                span.span1 Seatle
                span.span2 SEA
        li
            button(type='button')
                span.span1 San Fransico
                span.span2 SFO