.flTable{
  &__group{
    margin-bottom: .7vw;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  }
  &__header{
    background-color: $purple;
    border-radius: 4px 4px 0 0;
    display: flex;
    align-items: center;
    margin-bottom: .7vw;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 3;
  }
  &__left{
    width: 68%;
  }
  &__col{
    display: flex;
    align-items: center;
  }
  &__right{
    width: 32%;
    display: flex;
    align-items: center;
  }
  &__row{
    display: flex;
    background-color: #fff;
    border: 1.5px solid transparent;
    transition: border-color .3s;
    &:hover{
      border-color: $purple;
    }
  }
  &__cell{
    padding: 1vw;
    &.cell-1{
      width: 20%;
    }
    &.cell-2{
      width: 30%;
    }
    &.cell-3{
      width: 20%;
    }
    &.cell-4{
      width: 30%;
      padding-left: 0;
    }
    &.cell-5{
      width: 50%;
    }
    &.cell-6{
      width: 50%;
    }
  }
  &__info{
    padding: 1vw 0;
  }
  &__item{
    display: flex;
    position: relative;
  }
  &__airline{
    img{
      width: 26px;
      @include breakpoint(sm){
        width: 2vw;
      }
    }
    .d-flex{
      align-items: center;
      margin-bottom: 5px;
      @include breakpoint(sm){
        margin-bottom: .5vw;
      }
    }
    p{
      display: flex;
      align-items: center;
      margin-left: 15px;
      flex: 1;
      @include breakpoint(sm){
        margin-left: .8vw;
      }
      i{
        color: rgba(0, 0, 0, 0.15);
        font-size: 6px;
        margin: 0 10px;
        @include breakpoint(sm){
          font-size: .5vw;
          margin: 0 1vw;
        }
      }
    }
    .viewMore{
      @include breakpoint(sm){
        margin-left: 2.8vw;
      }
    }
  }
  &__ticket{
    text-align: center;
    position: relative;
    width: 50%;
    height: 100%;
    padding: 1vw;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s;
    &:before{
      content: '';
      border-width: .4vw;
      border-style: solid;
      border-color: transparent transparent #fff transparent;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
    }
    &.ticket-business{
      .d-block{
        p{
          color: #1D0C43;
        }
        svg{
          path{
            fill: #1D0C43;
          }
        }
      }
    }
    .d-block{
      svg{
        margin-top: .5vw;
        transition: all .4s;
      }
      p.soldOut{
        color: $black45;
        font-weight: 500;
        font-size: 1.3vw;
      }
    }
    &.active{
      &:before{
        opacity: 1;
      }
      &.ticket-economy{
        background-color: #502678;
      }
      &.ticket-business{
        background-color: #1D0C43;
      }
      p{
        color: #fff!important;
      }
      svg{
        path{
          fill:#fff!important;
        }
      }
      .d-block{
        svg{
          transform: rotate(180deg);
        }
      }
    }
  }
  &__label{
    position: absolute;
    top: 1vw;
    left: 1vw;
    svg{
      display: block;
    }
  }
  &__time{
    background-color: #fff;
    @include breakpoint(xs){
      display: inline-block;
      transform: translateY(5px);
      padding-right: 15px;
    }
    @include breakpoint(sm){
      display: flex;
      align-items: center;
      position: absolute;
      bottom: -.5vw;
      left: 0;
      padding: 0 1vw;
    }
    i{
      color: #8c8c8c;
    }
  }
  &__detail{
    display: none;
    .flTable{
      &__item{
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        padding: 1vw 0;
        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
  &__economy{
    background-color: #502678;
  }
  &__business{
    background-color: #1D0C43;
  }
  &__fare{
    display: none;
  }
  &__trip{
    @include breakpoint(xs){
      width: 33.333%;
    }
  }
}
.stopBox{
  @include breakpoint(xs){
    width: 33.333%;
    padding: 0 10px;
    margin-top: 10px;
  }
  @include breakpoint(sm){
    margin-top: .3vw;
  }
  &__line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include breakpoint(xs){
      min-height: 12px;
      width: 100%;

    }
    &:before{
      content: '';
      border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
      width: 92%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__plane{
    position: relative;
    svg{
      display: block;
      path{
        fill: #8c8c8c;
        fill-opacity: 1;
      }
    }
  }
  &__dot{
    position: relative;
    font-size: 8px;
    @include breakpoint(sm){
      font-size: .6vw;
    }
  }
  &__text{
    text-align: center;
    margin-top: 5px;
    @include breakpoint(sm){
      margin-top: .3vw;
    }
    span{
      border-radius: 4px;
      padding: 2px 5px;
      color: #fff;
      @include breakpoint(sm){
        padding: .1vw .5vw;
      }
    }
  }
}
.fareCondition{
  @include breakpoint(xs){
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: #fff;
    transform: translateY(100%);
    visibility: hidden;
    transition: all .3s ease-in-out;
    &.open{
      transform: none;
      visibility: visible;
    }
  }
  @include breakpoint(sm){
    padding: 1vw;
    background-color: #FBF5FF;
  }
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 15px;
    h4{
      font-size: 20px;
    }
  }
  &__close{
    padding: 15px 0;
    svg{
      display: block;
    }
  }
  &__body{
    height: calc(100% - 60px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 15px;
  }
  &__group{
    margin-bottom: 15px;
  }
  &__heading{
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    &.heading-1{
      background-color: #C087DB;
    }
    &.heading-2{
      background-color: #9860B9;
    }
    &.heading-3{
      background-color: #66338C;
    }
    &.heading-4{
      background-color: #502678;
    }
    &.heading-5{
      background-color: #3C1B65;
    }
    &.heading-6{
      background-color: #1D0C43;
    }
  }
  &__row{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  &__title{
    padding:15px;
    display: flex;
    font-size: 14px;
    color: $purple;
    font-weight: 500;
    @include breakpoint(xs){
      width: 55%;
      border-right: 1px solid rgba(0, 0, 0, 0.15);
    }
    @include breakpoint(sm){
      padding: .5vw 1vw;
      font-size: 1vw;
    }
    svg{
      display: block;
      @include breakpoint(lg){
        width: 1.5vw;
        height: 1.5vw;
      }
    }
    span{
      padding-left: 15px;
      flex: 1;
      @include breakpoint(sm){
        padding-left: 1vw;
      }
      @include breakpoint(lg){
        width: calc(100% - 1.5vw);
      }
    }
  }
  &__th{
    color: $purple;
    font-size: 1.1vw;
  }
  &__ticket{
    color: #fff;
    background-color: $purple;
    position: relative;
    text-align: center;
    border-radius: 4px 4px 0 0;
    &.ticket-1{
      background-color: #C087DB;
    }
    &.ticket-2{
      background-color: #9860B9;
    }
    &.ticket-3{
      background-color: #66338C;
    }
    span{
      position: absolute;
      top: .5vw;
      left: .5vw;
      svg{
        display: block;
      }
    }
  }
  &__text{
    background-color: #fff;
    color: $black85;
    @include breakpoint(xs){
      width: 45%;
      font-size: 14px;
      font-weight: 500;
      padding:15px;
    }
    @include breakpoint(sm){
      border-left: 1px solid rgba(0, 0, 0, 0.15);
      border-right: 1px solid rgba(0, 0, 0, 0.15);
      border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
      padding: .5vw 1vw;
      font-size: 1vw;
    }
  }
  &__select{
    background-color: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0 0 4px 4px;
    padding:1.5vw 1vw;
    text-align: center;
    height: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__price{
    margin-bottom: 1vw;
  }
  &__btn{
    .btn{
      width: 100%;
    }
  }
  &__note{
    padding: 5px 15px;
    @include breakpoint(sm){
      padding: .5vw 1vw;
    }
  }
  table{
    width: 100%;
    border-collapse: separate;
    border-spacing: .5vw 0;
    th{
      vertical-align: middle;
      position: relative;
      p{
        font-weight: 500;
        padding: 1vw;
      }
    }
    td{
      vertical-align: middle;
    }
  }
}