.formBox{
  margin-bottom: 30px;
  @include breakpoint(sm){
    margin-bottom: 2vw;
  }
  &__header{
    background-color: $purple;
    display: flex;
    align-items: center;
    border-radius: 4px 4px 0 0;
    padding: 5px 15px;
    @include breakpoint(sm){
      padding: .5vw 1vw;
    }
    p{
      margin-left: 15px;
      @include breakpoint(sm){
        margin-left: 1vw;
      }
    }
  }
  &__body{}
  &__item{
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 4px 4px;
    margin-bottom: 8px;
    padding: 15px;
    @include breakpoint(sm){
      padding: 2vw;
      margin-bottom: .8vw;
    }
  }
  &__row{
    @include breakpoint(xs){
      margin-bottom: 15px;
    }
    @include breakpoint(sm){
      display: flex;
      margin: 0 -1vw 1vw;
    }
    .checkbox{
      margin-bottom: 15px;
      @include breakpoint(sm){
        padding: 0 1vw;
        margin-bottom: 1vw;
      }
    }
  }
  &__date{
    width: 100%;
    @include breakpoint(sm){
      padding: 0 1vw;
    }
    > label{
      font-weight: 400;
      color: $black85;
      margin-bottom: 8px;
      font-size: 14px;
      @include breakpoint(sm){
        font-size: 1vw;
        margin-bottom: .7vw;
      }
    }
    .d-flex{
      @include breakpoint(xs){
        flex-wrap: wrap;
      }
      @include breakpoint(sm){
        margin: 0 -1vw;
      }
    }
    .form-group{
      @include breakpoint(xs){
        width: 100%;
      }
    }
  }
  &__text{
    margin-bottom: 15px;
    @include breakpoint(sm){
      margin-bottom: 1vw;
    }
  }
  &__tip{
    margin-top: 15px;
    font-size: 14px;
    color: #318FDB;
    font-weight: 500;
    @include breakpoint(sm){
      margin-top: 1vw;
      font-size: 1vw;
    }
    &:hover{
      text-decoration: underline;
    }
    span,svg{
      vertical-align: middle;
    }
    span{
      margin-left: 15px;
      @include breakpoint(sm){
        margin-left: 1vw;
      }
    }
  }
  &__frequent{
    > button{
      font-size: 14px;
      font-weight: 500;
      color: #318FDB;
      @include breakpoint(sm){
        font-size: 1vw;
      }
      &:hover{
        span{
          text-decoration: underline;
        }
      }
      span{
        margin-right: 15px;
        @include breakpoint(sm){
          margin-right: 1vw;
        }
      }
      svg{
        transition: all .3s;
      }
      span,svg{
        vertical-align: middle;
      }
      &.rotate{
        svg{
          transform: rotate(90deg);
        }
      }
    }
  }
  &__flex{
    @include breakpoint(sm){
      display: flex;
    }
  }
  &__left{
    @include breakpoint(xs){
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      margin-bottom: 15px;
    }
    @include breakpoint(sm){
      width: 50%;
      padding-right: 2vw;
    }
  }
  &__right{
    @include breakpoint(sm){
      width: 50%;
      padding-left: 2vw;
    }
  }
  &__sub{
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 15px;
    @include breakpoint(sm){
      padding: 1vw;
    }
    &.costBox{
      display: none;
    }
    li{
      display: flex;
      justify-content: space-between;
      padding: 3px 0;
      @include breakpoint(sm){
        padding: .3vw 0;
      }
    }
  }
  &__price{
    &__total{
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
      border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
      @include breakpoint(sm){
        padding-bottom: 1vw;
      }
      .d-block{
        &:first-child{
          flex: 1;
        }
      }
    }
    &__cost{
      padding-top: 15px;
      @include breakpoint(sm){
        padding-top: 1vw;
      }
      .d-flex{
        justify-content: space-between;
      }
    }
    &__detail{
      .d-flex{
        justify-content: space-between;
        margin-bottom: 5px;
        @include breakpoint(sm){
          margin-bottom: .5vw;
        }
      }
      .btnDetail{
        i{
          transition: all .2s;
        }
        &.rotate{
          i{
            transform: rotate(180deg);
          }
        }
        &:hover{
          span{
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__itinerary{
    &__trip{
      padding-left: 15px;
      position: relative;
      margin: 15px 0;
      @include breakpoint(sm){
        padding-left: 2vw;
        margin: 1vw 0;
      }
      &:before{
        content: '';
        width: 1px;
        height: 75%;
        position: absolute;
        top: 10px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25);
        @include breakpoint(sm){
          top: .9vw;
        }
      }
      li{
        position: relative;
        &:first-child,
        &:last-child{
          &:before{
            content: '';
            position: absolute;
            top: 5px;
            left: -20px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.25);
            background-color: #fff;
            @include breakpoint(sm){
              width: .9vw;
              height: .9vw;
              top: .3vw;
              left: -2.4vw;
            }
          }
        }
        &:nth-child(2){
          padding: 30px 0;
          @include breakpoint(sm){
            padding: 2vw 0;
          }
        }
      }
    }
    &__item{
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      @include breakpoint(xs){
        padding: 15px;
        margin: 0 -15px;
      }
      @include breakpoint(sm){
        padding: 1vw 0;
      }
      &:last-child{
        border-bottom: none;
      }
    }
  }
  &__traveler{
    &__item{
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      @include breakpoint(xs){
        padding: 15px;
        margin: 0 -15px;
      }
      @include breakpoint(sm){
        padding: 1vw 0;
      }
      &:last-child{
        border-bottom: none;
      }
    }
  }
  &__contact{
    &__line{
      display: flex;
      justify-content: space-between;
    }
  }
  &__payment{
    &__item{
      margin-bottom: 15px;
      @include breakpoint(sm){
        margin-bottom: 1vw;
      }
      .radio{
        label{
          font-weight: 500;
        }
      }
    }
    &__card{
      display: flex;
      margin-top: 15px;
      padding-left: 25px;
      @include breakpoint(sm){
        margin-top: 1vw;
        padding-left: 1.5vw;
      }
      li{
        padding: 0 5px;
        @include breakpoint(sm){
          padding: 0 .5vw;
        }
        img{
          width: 64px;
          @include breakpoint(sm){
            width: 4vw;
          }
        }
      }
    }
  }
  &__baggage{
    &__item{
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      @include breakpoint(xs){
        padding: 15px;
        margin: 0 -15px;
      }
      @include breakpoint(sm){
        padding: 1vw 0;
      }
    }
    &__text{
      padding-top: 15px;
      @include breakpoint(sm){
        padding-top: 1vw;
      }
    }
  }
  &__term{
    max-height: 300px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin-right: -15px;
    padding-right: 15px;
    @include breakpoint(sm){
      max-height: 30vw;
      margin-right: -1.5vw;
      padding-right: 2vw;
    }
    &::-webkit-scrollbar {
      width:5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: #f2f2f2;
      border-radius: 16px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background:$purple;
      border-radius: 16px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $purple;
    }
    p{
      margin-bottom: 15px;
      font-size: 14px;
      color: $black85;
      @include breakpoint(sm){
        margin-bottom: 1vw;
        font-size: 1vw;

      }
      &.title{
        font-size: 16px;
        font-weight: $medium;
        @include breakpoint(sm){
          font-size: 1.1vw;
        }
      }
    }
    ul{
      list-style: disc;
      padding-left: 15px;
      @include breakpoint(sm){
        padding-left: 1vw;
      }
      li{
        margin-bottom: 15px;
        font-size: 14px;
        color: $black85;
        @include breakpoint(sm){
          margin-bottom: 1vw;
          font-size: 1vw;

        }
      }
    }
  }
  .form-group{
    @include breakpoint(sm){
      width: 25%;
      padding: 0 1vw;
    }
    > label{
      font-weight: 400;
      color: $black85;
    }
  }
}