.breadcrumb{
  background: transparent;
  padding: 15px 0;
  margin-bottom: 0;
  @include breakpoint(sm){
    padding: 1vw 0;
  }
  >li{
    display: inline-block;
    +li{
      &:before{
        content:'\003e';
        padding: 0 15px;
        color:#878787;
        @include breakpoint(sm){
          padding: 0 1vw;
        }
      }
    }
    >a{
      font-size: 14px;
      color: $black55;
      transition: .3s;
      @include breakpoint(sm){
        font-size: 1vw;
      }
      &:hover{
        @include breakpoint(md){
          text-decoration: underline;
        }
      }
    }
  }
  >.active{
    font-size: 14px;
    color: $purple;
    font-weight: 500;
    @include breakpoint(sm){
      font-size: 1vw;
    }
  }
  .flightCheap & {
    @include breakpoint(xs){
      display: none;
    }
    @include breakpoint(sm){
      margin-bottom: 2vw;
    }
  }
}