.dropdown-menu{
  border: none;
  border-bottom: 4px solid $purple;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  @include breakpoint(only-ipad){
    padding: 0;
  }
}
.dropdown-item{
  font-size: 14px;
  @include breakpoint(only-ipad){
    font-size: 1vw;
    padding: .5vw 1vw;
  }
}
.dropdown-toggle{
  text-align: left;
  &:after{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    @include breakpoint(only-ipad){
      right: 1vw;
    }
  }
  > svg{
    margin-right: 5px;
    @include breakpoint(only-ipad){
      margin-right: .5vw;
    }
  }
}