.inputSearch {
  position: relative;
  @include breakpoint(only-ipad) {
    width: 13vw;
  }

  > svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    @include breakpoint(only-ipad) {
      left: 1vw;
    }
  }

  .form-control {
    padding-left: 40px;
    @include breakpoint(only-ipad) {
      padding-left: 2.5vw;
    }
  }
}

.form-control {
  height: 40px;
  font-size: 14px;
  padding: 0 15px;
  @include breakpoint(only-ipad) {
    height: 2.8vw;
    font-size: 1vw;
    padding: 0 1vw;
  }

  &:focus {
    box-shadow: none;
    border-color: #ced4da;
  }

  &.form-control-lg {
    height: 48px;
    @include breakpoint(only-ipad) {
      height: 3.3vw;
    }
  }
}

.form-group {
  margin-bottom: 15px;
  @include breakpoint(only-ipad) {
    margin-bottom: 1vw;
  }

  > label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    @include breakpoint(only-ipad) {
      font-size: 1vw;
      margin-bottom: .7vw;
    }
  }
}

textarea.form-control {
  resize: none;
  height: 120px;
  padding: 15px;
  @include breakpoint(sm) {
    height: 6.5vw;
    padding: 1vw;
  }
}

select.form-control {
  -webkit-appearance: none;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-position: right 15px center;
  @include breakpoint(only-ipad) {
    background-size: 1vw;
  }
}

.labelStar {
  &:after {
    content: ' *';
    color: $red;
  }
}